﻿<div class="modal inmodal" id="modal-display-image" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <form id="upload-file-form" method="post" class="form-horizontal" action="@Url.Content("~/MyImageUpload/save")" onsubmit="ajaxSubmitForm(event,this,'btn-submit-filee',_SubmitUpladFormCompleted);" enctype="multipart/form-data">
                        <div class="col-sm-12" style="border:1px solid #E5E5E5;background-color:#F8FAFB;padding:5px;">
                            <div class="col-sm-8">
                     	        <input type="file" name="FileDataUpload" style="float:right;margin-top:5px;" />
                            </div>
                            <div class="col-sm-4">
                                <button id="btn-submit-file" type="submit" style="float:left;" class="btn btn-info" >Upload</button>
                                <button type="button" class="btn btn-primary" onclick="PickThisUrl();">OK</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="" id="modal-display-image-src" style="width:100%;display:none;" />
                            <video controls id="modal-display-video" style="display:none;">
                              <source src="" id="modal-display-video-src" type="video/mp4">
                            </video>
                        </div>
                        <div class="col-sm-12">
                            <input type="text" id="modal-display-image-textbox" style="width:100%;"/>
                        </div>
                        <div class="col-sm-12" style="text-align:center;">
                            <a href="javascript:CopyImageUrlToClipBoard();">(Copy url to clipboard)</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var inputTextHyperLink = null;
        function DisplayImage(input) {
            inputTextHyperLink = input;
            document.getElementById("upload-file-form").style.display = "";
            ShowImageOnDisplay(inputTextHyperLink.val());

            $("#modal-display-image").modal("show");
        }

        function DisplayImageByUrl(url) {
            ShowImageOnDisplay(url);
            document.getElementById("upload-file-form").style.display = "none";
            $("#modal-display-image").modal("show");
        }

        function ShowImageOnDisplay(url) {
            var _Image = $("#modal-display-image-src");
            var _Video = $("#modal-display-video");

            _Image.hide();
            _Video.hide();

            if (url.endsWith(".mp4")) {
                $("#modal-display-video-src").attr("src", url);
                _Image.hide();
                _Video.show();

                var video = document.getElementById('modal-display-video');
                video.load();

            } else {
                _Image.attr("src", url);
                _Image.show();
                _Video.hide();
            }

            $("#modal-display-image-textbox").val(url);
        }

        function PickThisUrl() {
            inputTextHyperLink.val($("#modal-display-image-textbox").val());
            $("#modal-display-image").modal("hide");
        }

        function CopyImageUrlToClipBoard() {
            try {
                $("#modal-display-image-textbox").focus();
                $("#modal-display-image-textbox").select();
                document.execCommand('copy');
            } catch (e) { alert(e); }
        }
        
        function _SubmitUpladFormCompleted(data) {
            if (data.StatusCode == "0") {
                ShowImageOnDisplay(data.JsonData.FileDataImageHyperLink);

                document.getElementById("upload-file-form").reset();
            } else {
                alert(data.Message);
            }
        }
    </script>