﻿@model Library.Winplus.syslib.customize.loginuser.model.AttempLogin
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Session.SessionID);
    string CopyRight = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig("CopyRight");
    if(CopyRight==null){
        CopyRight = "©Thai Map Tech 2019";
    }

    string AppTitle = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig("AppTitle");
    if (AppTitle == null)
    {
        AppTitle = "WeCollect : Housing Survey Application";
    }

    string ProgramName = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig("ProgramName");
    if (ProgramName == null)
    {
        ProgramName = "WeCollect<br/><div style='font-size:14px;'>Housing Survey Application<div>";
    }
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="@Url.Content("~/Resource/img/fav.ico")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@AppTitle</title>
    
    @Html.Partial("~/Views/_shared/_IncludeCss.cshtml")
    <style>
        .span-required
        {
            padding-left:3px;
            color:red;
        }
        .value-padding
        {
            padding-top:7px;
            padding-bottom:9px;
        }
        .IRHeader {
            text-align:center;
            word-wrap:break-word;
            word-break:break-all;
            font-size:24px;
            font-weight:bold;
            color:#3A7C59;
            font-family:Arial Black;
        }
    </style>
</head>
<!-- Server Path : @HttpContext.Current.Server.MapPath("~") -->

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div style="margin-top:30%">
           
            <form class="m-t" role="form" action="@Url.Content("~/loginuser/checklogin")" method="post" onsubmit="ajaxSubmitForm(event,this,'btn-submit',CheckLoginResponse);">
                
                <div class="form-group IRHeader">
                    <center>
                        <table>
                            <tr>
                                <td>
                                    <img src="@Url.Content("~/Resource/img/housing_survey_logo.png")" style="width:50px;" />
                                </td>
                                <td style="padding-left:15px;font-family:'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                    <div style="font-size:30px;text-align:left;"><span style="color:#8BC83D;">WE</span><span style="color:#959A9D;">Collect</span></div>
                                    <div style="color:#959A9D;font-size:11px;">Housing Survey Application</div>
                                </td>
                            </tr>
                        </table>
                    </center>
                </div>
                <br />
                <div class="form-group">
			        @Html.TextBoxFor(model=>model.UserName, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.UserName),@required=""})
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model=>model.Password, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.Password),@required=""})
                </div>
                <br />
                <button id="btn-submit" type="submit" class="btn btn-primary block full-width m-b ladda-button btn-primary" data-style="expand-left">@MyResources.Winplus.Resource.Login</button>
            </form>
            <p class="m-t"> <small>@Html.Raw(CopyRight)</small> </p>
        </div>
    </div>
    
    @Html.Partial("~/Views/_shared/_IncludeJs.cshtml")

    <script>
        function CheckLoginResponse(data) {
            if (data.StatusCode == "0") {
                location.href = "@Url.Content("~/HomePage")";
            } else {
                if (data.Message == "Empty_SystemUserIRAuthorize") {
                    SelectOrgLoadTree();
                } else {
                    alert(data.Message);
                }
            }
        }
    </script>

</body>
    
  	
</html>
