﻿@model Library.Winplus.syslib.standard.systemuser.model.SystemUser

<div class="form-group col-sm-6">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.FirstName)<span class="span-required">*</span></label>
	<div class="col-sm-8">
		@Html.TextBoxFor(model=>model.FirstName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.FirstName),@required="",@readonly="readonly"})
	</div>
</div>
<div class="form-group col-sm-6">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LastName)<span class="span-required">*</span></label>
	<div class="col-sm-8">
		@Html.TextBoxFor(model=>model.LastName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LastName),@required="",@readonly="readonly"})
	</div>
</div>
<div class="form-group col-sm-6">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Email)<span class="span-required">*</span></label>
	<div class="col-sm-8">
		@Html.TextBoxFor(model=>model.Email, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Email),@required="",@readonly="readonly"})
	</div>
</div>
<div class="form-group col-sm-6">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PhoneNo)</label>
	<div class="col-sm-8">
		@Html.TextBoxFor(model=>model.PhoneNo, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.PhoneNo),@readonly="readonly"})
	</div>
</div>
<div class="form-group col-sm-6">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Password)<span class="span-required">*</span></label>
	<div class="col-sm-8">
		@Html.PasswordFor(model=>model.Password, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Password),@required=""})
	</div>
</div>
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" style="padding-left:15px;">
	            <div class="form-group col-sm-12">
                   <table id="TBIRAuthorizeProfile" class="display nowrap hover table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                <th>@MyResources.Winplus.Resource.AssignOrganizationId</th>
                                <th>@MyResources.Winplus.Resource.PositionName</th>
                                <th>@MyResources.Winplus.Resource.ActiveDateFrom</th>
                                <th>@MyResources.Winplus.Resource.ActiveDateTo</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="btn-update-profile-hide" type="submit" class="btn btn-info ladda-button" data-style="expand-left" style="display:none;"></button>
<script>
    var TBIRAuthorizeProfile = null;
    function InitialIRAuthrorizeProfile() {
        TBIRAuthorizeProfile = $('#TBIRAuthorizeProfile').DataTable({
            "serverSide": true,
            "bFilter": true,
            "pageLength": 100,
            "bLengthChange": false,
            "columnDefs": [
                { "targets": [1], "orderable": false }
            ],
            "order": [[0, "desc"]],
            "ajax": {
                "url": '@Url.Content("~/systemuserirauthorize/search?search_SystemUserId=")'+@(Model.SystemUserId.Value.ToString()),
                "type": "POST"
            },
            "columns": [
                { "name": "SystemUserIRAuthorizeId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "SystemUserIRAuthorizeName", "data": "AssignOrganizationIdOrganizationName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "AssignPositionId", "data": "AssignPositionIdPositionName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ActiveDateFrom", "data": "ActiveDateFrom", "render": function (data, type, row, meta) { return FormatDate(data, type, row, meta); } },
                { "name": "ActiveDateTo", "data": "ActiveDateTo", "render": function (data, type, row, meta) { return FormatDate(data, type, row, meta); } },
            ],
            "cache": false,
            fnDrawCallback: function (settings, json) {
                HideDataTableTools("TBIRAuthorizeProfile", false, true, true);
            },
            initComplete: function (settings, json) {
                $("#TBIRAuthorizeProfile_filter").html("");
            }
        });
    }
</script>