@model Library.Winplus.syslib.standard.survey.model.Survey

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/survey/save")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            @if(Model.SurveyId.HasValue){
                                @MyResources.Winplus.Resource.Update
                            }else{
                                @MyResources.Winplus.Resource.Create
                            }
                            @Html.DisplayNameFor(model => model.SurveyName)
                        </h5>
                    </div>
                    <div class="col-sm-6" style="text-align:right;">
                        <div class="form-group" style="padding-right:10px;">
                            <button class="btn btn-white" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                            @if (Model.HasAuthorize(Model.loginUser, "Survey", "Add") || Model.HasAuthorize(Model.loginUser, "Survey", "Edit"))
                            {
                                <button class="btn ladda-button btn-primary" data-style="expand-left" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
            <div class="row">
                    @Html.HiddenFor(model => model.SurveyId)

	                @if(!Model.IsHiddenName){
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SurveyName)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.SurveyName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.SurveyName)})
		                </div>
	                </div>
	                }
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SurveyCode)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.SurveyCode, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.SurveyCode)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ProjectId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('Project','ProjectId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.ProjectId,Model.GetSelectedItems("Project", Model.ProjectId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Latitude)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.Latitude, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Latitude),@type="number",@step="any",@required=""})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Longitude)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.Longitude, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Longitude),@type="number",@step="any",@required=""})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BuildingName)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.BuildingName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.BuildingName)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BuildingTypeId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('BuildingType','BuildingTypeId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.BuildingTypeId,Model.GetSelectedItems("BuildingType", Model.BuildingTypeId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BuildingTypeOther)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.BuildingTypeOther, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.BuildingTypeOther)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.FloorNoId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('FloorNo','FloorNoId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.FloorNoId,Model.GetSelectedItems("FloorNo", Model.FloorNoId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.FloorNoOther)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.FloorNoOther, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.FloorNoOther)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.MaterialId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('Material','MaterialId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.MaterialId,Model.GetSelectedItems("Material", Model.MaterialId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.MaterialOther)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.MaterialOther, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.MaterialOther)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ImageFront)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.ImageFront, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.ImageFront)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ImageBeside)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.ImageBeside, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.ImageBeside)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ImageRefer)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.ImageRefer, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.ImageRefer)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Width)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.Width, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Width),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Long)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.Long, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Long),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Height)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.Height, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Height),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.FarFromRefer)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.FarFromRefer, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.FarFromRefer),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.UnitNo)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.UnitNo, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.UnitNo),@type="number"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.OwnershipId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('Ownership','OwnershipId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.OwnershipId,Model.GetSelectedItems("Ownership", Model.OwnershipId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.UpdateFlag)</label>
		                <div class="col-sm-10">
                            @Html.CheckBoxFor(model=>model.UpdateFlag, new { @class = "form-control i-checks" })
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.DeleteFlag)</label>
		                <div class="col-sm-10">
                            @Html.CheckBoxFor(model=>model.DeleteFlag, new { @class = "form-control i-checks" })
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.OwnerSystemUserId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('SystemUser','OwnerSystemUserId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.OwnerSystemUserId,Model.GetSelectedItems("SystemUser", Model.OwnerSystemUserId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.KeyInOn)</label>
		                <div class="col-sm-8">
                           <table>
                               <tr>
                                   <td>
                                       <div class="input-group date">
                                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                           @Html.TextBoxFor(model => model.KeyInOnText, new { @class = "form-control"  })
                                       </div>
                                   </td>
                                   <td>
                                       <div class="input-group clockpicker" data-autoclose="true" style="margin-left:5px;">
                                           <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                           @Html.TextBoxFor(model => model.KeyInOnTimeText, new { @class = "form-control" , @style="width:80px;" })
                                       </div>
                                   </td>
                               </tr>
                           </table>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.AdvantageId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('Advantage','AdvantageId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.AdvantageId,Model.GetSelectedItems("Advantage", Model.AdvantageId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Advantage)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.Advantage, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Advantage)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Remark)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.Remark, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Remark)})
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.NewPoint)<span class="span-required">*</span></label>
		                <div class="col-sm-10">
                            @Html.CheckBoxFor(model=>model.NewPoint, new { @class = "form-control i-checks" })
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LocationTypeId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('LocationType','LocationTypeId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.LocationTypeId,Model.GetSelectedItems("LocationType", Model.LocationTypeId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PlaceOwner)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.PlaceOwner, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.PlaceOwner)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PlaceUserBenefic)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.PlaceUserBenefic, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.PlaceUserBenefic)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.HomeNo)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.HomeNo, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.HomeNo)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Moo)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.Moo, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Moo)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BoardTypeId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('BoardType','BoardTypeId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.BoardTypeId,Model.GetSelectedItems("BoardType", Model.BoardTypeId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BoardLocationId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('BoardLocation','BoardLocationId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.BoardLocationId,Model.GetSelectedItems("BoardLocation", Model.BoardLocationId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BoardStyleId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('BoardStyle','BoardStyleId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.BoardStyleId,Model.GetSelectedItems("BoardStyle", Model.BoardStyleId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BoardSide)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.BoardSide, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.BoardSide),@type="number"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BoardText)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.BoardText, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.BoardText)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.RoadTypeId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('RoadType','RoadTypeId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.RoadTypeId,Model.GetSelectedItems("RoadType", Model.RoadTypeId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.RoadMaterialId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('RoadMaterial','RoadMaterialId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.RoadMaterialId,Model.GetSelectedItems("RoadMaterial", Model.RoadMaterialId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.RoadLaneId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('RoadLane','RoadLaneId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.RoadLaneId,Model.GetSelectedItems("RoadLane", Model.RoadLaneId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BridgeTypeId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('BridgeType','BridgeTypeId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.BridgeTypeId,Model.GetSelectedItems("BridgeType", Model.BridgeTypeId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BridgeMaterialId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('BridgeMaterial','BridgeMaterialId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.BridgeMaterialId,Model.GetSelectedItems("BridgeMaterial", Model.BridgeMaterialId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PoleTypeId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('PoleType','PoleTypeId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.PoleTypeId,Model.GetSelectedItems("PoleType", Model.PoleTypeId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PoleMaterialId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('PoleMaterial','PoleMaterialId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.PoleMaterialId,Model.GetSelectedItems("PoleMaterial", Model.PoleMaterialId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandParcelNo)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LandParcelNo, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LandParcelNo)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandNo)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LandNo, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LandNo)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandRai)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LandRai, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LandRai),@type="number"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandNgan)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LandNgan, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LandNgan),@type="number"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandWa)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LandWa, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LandWa),@type="number"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandSubWa)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LandSubWa, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LandSubWa),@type="number"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandUsed)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LandUsed, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LandUsed)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandParcelTypeIdSelected)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LandParcelTypeIdSelected, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LandParcelTypeIdSelected)})
		                </div>
	                </div>
            </div>
            <div class="ibox-footer">
                <div class="row">
                    <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedBySystemUserName)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedBySystemUserName)</label>
    	            </div>
                </div>
              </div>
        </div>
        </form>
    </div>
</div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
    }

    function _initialSubmitForm() {
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

</script>
