@model Library.Winplus.syslib.standard.survey.search.SurveySearch

@Html.Partial("~/Views/standard/survey/import.cshtml",Model)

<div class="row" id="addedit-section">

</div>

<div class="row" id="search-section">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@MyResources.Winplus.Resource.Search @Html.DisplayNameFor(model => model.search.SurveyName)</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <section class="content-header">
                        <div class="box box-default color-palette-box">
                            <div class="box-body">
                                <div class="row">
                                    <form id="search-form">
                                        <!-- Advance Search -->
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div id="advance-search-form" class="collapse">
                                                        <a href="#" data-toggle="collapse" data-target="#advance-search-form">@MyResources.Winplus.Resource.AdvanceSearch</a>
                                                        <div style="height: 3px;"></div>
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SurveyName)</label>
                                                                    @Html.TextBoxFor(model => model.search.SurveyName, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SurveyCode)</label>
                                                                    @Html.TextBoxFor(model => model.search.SurveyCode, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ProjectId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Project','search_ProjectId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ProjectId,Model.GetSelectedItems("Project", Model.search.ProjectId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Latitude)</label>
                                                                    @Html.TextBoxFor(model => model.search.Latitude, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Longitude)</label>
                                                                    @Html.TextBoxFor(model => model.search.Longitude, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BuildingName)</label>
                                                                    @Html.TextBoxFor(model => model.search.BuildingName, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BuildingTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('BuildingType','search_BuildingTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.BuildingTypeId,Model.GetSelectedItems("BuildingType", Model.search.BuildingTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BuildingTypeOther)</label>
                                                                    @Html.TextBoxFor(model => model.search.BuildingTypeOther, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.FloorNoId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('FloorNo','search_FloorNoId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.FloorNoId,Model.GetSelectedItems("FloorNo", Model.search.FloorNoId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.FloorNoOther)</label>
                                                                    @Html.TextBoxFor(model => model.search.FloorNoOther, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.MaterialId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Material','search_MaterialId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.MaterialId,Model.GetSelectedItems("Material", Model.search.MaterialId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.MaterialOther)</label>
                                                                    @Html.TextBoxFor(model => model.search.MaterialOther, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ImageFront)</label>
                                                                    @Html.TextBoxFor(model => model.search.ImageFront, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ImageBeside)</label>
                                                                    @Html.TextBoxFor(model => model.search.ImageBeside, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ImageRefer)</label>
                                                                    @Html.TextBoxFor(model => model.search.ImageRefer, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Width)</label>
                                                                    @Html.TextBoxFor(model => model.search.Width, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Long)</label>
                                                                    @Html.TextBoxFor(model => model.search.Long, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Height)</label>
                                                                    @Html.TextBoxFor(model => model.search.Height, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.FarFromRefer)</label>
                                                                    @Html.TextBoxFor(model => model.search.FarFromRefer, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.UnitNo)</label>
                                                                    @Html.TextBoxFor(model => model.search.UnitNo, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.OwnershipId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Ownership','search_OwnershipId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.OwnershipId,Model.GetSelectedItems("Ownership", Model.search.OwnershipId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.UpdateFlag)</label>
                                                                    <select class="form-control input-search" data-val="true" id="search_UpdateFlag">
                                                                        <option value=""></option>
                                                                        <option value="true">True</option>
                                                                        <option value="false">False</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.DeleteFlag)</label>
                                                                    <select class="form-control input-search" data-val="true" id="search_DeleteFlag">
                                                                        <option value=""></option>
                                                                        <option value="true">True</option>
                                                                        <option value="false">False</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.OwnerSystemUserId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SystemUser','search_OwnerSystemUserId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.OwnerSystemUserId,Model.GetSelectedItems("SystemUser", Model.search.OwnerSystemUserId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.KeyInOn)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_KeyInOn_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_KeyInOn_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CreatedOn)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_CreatedOn_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_CreatedOn_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CreatedBy)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SystemUser','search_CreatedBy')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.CreatedBy,Model.GetSelectedItems("SystemUser", Model.search.CreatedBy,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ModifiedOn)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_ModifiedOn_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_ModifiedOn_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ModifiedBy)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SystemUser','search_ModifiedBy')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ModifiedBy,Model.GetSelectedItems("SystemUser", Model.search.ModifiedBy,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.AdvantageId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Advantage','search_AdvantageId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.AdvantageId,Model.GetSelectedItems("Advantage", Model.search.AdvantageId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Advantage)</label>
                                                                    @Html.TextBoxFor(model => model.search.Advantage, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Remark)</label>
                                                                    @Html.TextBoxFor(model => model.search.Remark, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.NewPoint)</label>
                                                                    <select class="form-control input-search" data-val="true" id="search_NewPoint">
                                                                        <option value=""></option>
                                                                        <option value="true">True</option>
                                                                        <option value="false">False</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LocationTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('LocationType','search_LocationTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.LocationTypeId,Model.GetSelectedItems("LocationType", Model.search.LocationTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.PlaceOwner)</label>
                                                                    @Html.TextBoxFor(model => model.search.PlaceOwner, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.PlaceUserBenefic)</label>
                                                                    @Html.TextBoxFor(model => model.search.PlaceUserBenefic, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.HomeNo)</label>
                                                                    @Html.TextBoxFor(model => model.search.HomeNo, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Moo)</label>
                                                                    @Html.TextBoxFor(model => model.search.Moo, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BoardTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('BoardType','search_BoardTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.BoardTypeId,Model.GetSelectedItems("BoardType", Model.search.BoardTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BoardLocationId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('BoardLocation','search_BoardLocationId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.BoardLocationId,Model.GetSelectedItems("BoardLocation", Model.search.BoardLocationId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BoardStyleId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('BoardStyle','search_BoardStyleId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.BoardStyleId,Model.GetSelectedItems("BoardStyle", Model.search.BoardStyleId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BoardSide)</label>
                                                                    @Html.TextBoxFor(model => model.search.BoardSide, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BoardText)</label>
                                                                    @Html.TextBoxFor(model => model.search.BoardText, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.RoadTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('RoadType','search_RoadTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.RoadTypeId,Model.GetSelectedItems("RoadType", Model.search.RoadTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.RoadMaterialId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('RoadMaterial','search_RoadMaterialId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.RoadMaterialId,Model.GetSelectedItems("RoadMaterial", Model.search.RoadMaterialId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.RoadLaneId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('RoadLane','search_RoadLaneId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.RoadLaneId,Model.GetSelectedItems("RoadLane", Model.search.RoadLaneId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BridgeTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('BridgeType','search_BridgeTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.BridgeTypeId,Model.GetSelectedItems("BridgeType", Model.search.BridgeTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BridgeMaterialId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('BridgeMaterial','search_BridgeMaterialId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.BridgeMaterialId,Model.GetSelectedItems("BridgeMaterial", Model.search.BridgeMaterialId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.PoleTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('PoleType','search_PoleTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.PoleTypeId,Model.GetSelectedItems("PoleType", Model.search.PoleTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.PoleMaterialId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('PoleMaterial','search_PoleMaterialId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.PoleMaterialId,Model.GetSelectedItems("PoleMaterial", Model.search.PoleMaterialId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LandParcelNo)</label>
                                                                    @Html.TextBoxFor(model => model.search.LandParcelNo, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LandNo)</label>
                                                                    @Html.TextBoxFor(model => model.search.LandNo, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LandRai)</label>
                                                                    @Html.TextBoxFor(model => model.search.LandRai, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LandNgan)</label>
                                                                    @Html.TextBoxFor(model => model.search.LandNgan, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LandWa)</label>
                                                                    @Html.TextBoxFor(model => model.search.LandWa, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LandSubWa)</label>
                                                                    @Html.TextBoxFor(model => model.search.LandSubWa, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LandUsed)</label>
                                                                    @Html.TextBoxFor(model => model.search.LandUsed, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LandParcelTypeIdSelected)</label>
                                                                    @Html.TextBoxFor(model => model.search.LandParcelTypeIdSelected, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Basic search by text -->
                                        <div class="col-sm-12">
                                        <div class="input-group">
                                            <div class="form-group">
                                                <input type="text" id="SearchText" class="form-control input-search" placeholder="@MyResources.Winplus.Resource.TextToSearch" />
                                            </div>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" aria-label="Advance Search" data-toggle="collapse" data-target="#advance-search-form">
                                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                                </button>
                                                <button type="button" onclick="javascript:gotoSearch();" class="btn btn-default" aria-label="Search">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <div style="height: 3px;"></div>
                            
                            <!-- Grid view -->
                            <section class="content" style="overflow-x:auto;">
                                <table id="tbResult" class="display nowrap hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                            <th><input type="checkbox" class="checkall" /></th>
                                            <th>@Html.DisplayNameFor(model => model.search.SurveyName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.SurveyCode)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ProjectId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Latitude)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Longitude)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BuildingName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BuildingTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BuildingTypeOther)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.FloorNoId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.FloorNoOther)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.MaterialId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.MaterialOther)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ImageFront)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ImageBeside)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ImageRefer)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Width)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Long)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Height)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.FarFromRefer)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.UnitNo)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.OwnershipId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.UpdateFlag)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.DeleteFlag)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.OwnerSystemUserId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.KeyInOn)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CreatedOn)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CreatedBy)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ModifiedOn)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ModifiedBy)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.AdvantageId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Advantage)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Remark)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.NewPoint)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LocationTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.PlaceOwner)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.PlaceUserBenefic)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.HomeNo)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Moo)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BoardTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BoardLocationId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BoardStyleId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BoardSide)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BoardText)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.RoadTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.RoadMaterialId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.RoadLaneId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BridgeTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BridgeMaterialId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.PoleTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.PoleMaterialId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LandParcelNo)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LandNo)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LandRai)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LandNgan)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LandWa)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LandSubWa)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LandUsed)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LandParcelTypeIdSelected)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>

    <div style="display: none" class="grid-menu">
        @if (Model.HasAuthorize(Model.loginUser, "Survey", "Add"))
        {
            <button class="btn btn-success btn-circle" type="button" onclick="gotoAdd();" title="Add"><i class="fa fa-plus"></i></button>
            <button class="btn btn-success btn-circle" type="button" onclick="gotoCopy();" title="Copy"><i class="fa fa-copy"></i></button>
        }
        @if (Model.HasAuthorize(Model.loginUser, "Survey", "Edit"))
        {
            <button class="btn btn-warning btn-circle" type="button" onclick="gotoEdit();" title="Edit"><i class="fa fa-edit"></i></button>
        }
        @if (Model.HasAuthorize(Model.loginUser, "Survey", "Delete"))
        {
            <button class="btn btn-danger btn-circle" type="button" onclick="gotoDelete();" title="Delete"><i class="fa fa-minus"></i></button>
        }
        @if (Model.HasAuthorize(Model.loginUser, "Survey", "Export"))
        {
            <button class="btn btn-primary btn-circle" type="button" onclick="gotoExportExcel();" title="Export Excel"><i class="fa fa-table"></i></button>
        }
        @if (Model.HasAuthorize(Model.loginUser, "Survey", "Import"))
        {
            <button class="btn btn-info btn-circle" type="button" data-toggle="modal" data-target="#modal-import" title="Import Excel"><i class="fa fa-database"></i></button>
        }
    </div>

</div>



<script>

    // After menu click and ajax loading completed...
    function singlePageLoad() {
        _initTbResult();
        bindingStandardField();

        $('#search-section .input-search').unbind('keyup');
        $("#search-section .input-search").keyup(function (event) {
            if (event.keyCode == 13) {
                gotoSearch();
            }
        });
    }

    var tbResult = null;
    function _initTbResult() {
        tbResult = $('#tbResult').DataTable({
            "serverSide": true,
            "bFilter": true,
            "columnDefs": [
                { "targets": [1], "orderable": false }
            ],
            "order": [[ 0, "desc" ]],
            "ajax": {
                "url": '@Url.Content("~/survey/search?")'+ formParams("#search-form .input-search"),
                "type": "POST"
            },
            "columns": [
                { "name": "SurveyId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "", "width": "5px", "data": "SurveyId", "render": function (data, type, row, meta) { return FormatCheckbox(data, type, row, meta, "SurveyId","selectItem"); } },
                { "name": "SurveyName", "data": "SurveyName", "render": function (data, type, row, meta) { return FormatEditById(data, type, row, meta, "SurveyId"); } },
                { "name": "SurveyCode", "data": "SurveyCode", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ProjectId", "data": "ProjectIdProjectName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Latitude", "data": "Latitude", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Longitude", "data": "Longitude", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BuildingName", "data": "BuildingName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BuildingTypeId", "data": "BuildingTypeIdBuildingTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BuildingTypeOther", "data": "BuildingTypeOther", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "FloorNoId", "data": "FloorNoIdFloorNoName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "FloorNoOther", "data": "FloorNoOther", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "MaterialId", "data": "MaterialIdMaterialName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "MaterialOther", "data": "MaterialOther", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ImageFront", "data": "ImageFront", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ImageBeside", "data": "ImageBeside", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ImageRefer", "data": "ImageRefer", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Width", "data": "Width", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "Long", "data": "Long", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "Height", "data": "Height", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "FarFromRefer", "data": "FarFromRefer", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "UnitNo", "data": "UnitNo", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "OwnershipId", "data": "OwnershipIdOwnershipName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "UpdateFlag", "data": "UpdateFlag", "render": function (data, type, row, meta) { return FormatBoolean(data, type, row, meta); } },
                { "name": "DeleteFlag", "data": "DeleteFlag", "render": function (data, type, row, meta) { return FormatBoolean(data, type, row, meta); } },
                { "name": "OwnerSystemUserId", "data": "OwnerSystemUserIdSystemUserName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "KeyInOn", "data": "KeyInOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "CreatedOn", "data": "CreatedOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "CreatedBy", "data": "CreatedBySystemUserName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ModifiedOn", "data": "ModifiedOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "ModifiedBy", "data": "ModifiedBySystemUserName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "AdvantageId", "data": "AdvantageIdAdvantageName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Advantage", "data": "Advantage", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Remark", "data": "Remark", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "NewPoint", "data": "NewPoint", "render": function (data, type, row, meta) { return FormatBoolean(data, type, row, meta); } },
                { "name": "LocationTypeId", "data": "LocationTypeIdLocationTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "PlaceOwner", "data": "PlaceOwner", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "PlaceUserBenefic", "data": "PlaceUserBenefic", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "HomeNo", "data": "HomeNo", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Moo", "data": "Moo", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BoardTypeId", "data": "BoardTypeIdBoardTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BoardLocationId", "data": "BoardLocationIdBoardLocationName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BoardStyleId", "data": "BoardStyleIdBoardStyleName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BoardSide", "data": "BoardSide", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "BoardText", "data": "BoardText", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "RoadTypeId", "data": "RoadTypeIdRoadTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "RoadMaterialId", "data": "RoadMaterialIdRoadMaterialName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "RoadLaneId", "data": "RoadLaneIdRoadLaneName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BridgeTypeId", "data": "BridgeTypeIdBridgeTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BridgeMaterialId", "data": "BridgeMaterialIdBridgeMaterialName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "PoleTypeId", "data": "PoleTypeIdPoleTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "PoleMaterialId", "data": "PoleMaterialIdPoleMaterialName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "LandParcelNo", "data": "LandParcelNo", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "LandNo", "data": "LandNo", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "LandRai", "data": "LandRai", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "LandNgan", "data": "LandNgan", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "LandWa", "data": "LandWa", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "LandSubWa", "data": "LandSubWa", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "LandUsed", "data": "LandUsed", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "LandParcelTypeIdSelected", "data": "LandParcelTypeIdSelected", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
            ],
            "cache": false,
            fnDrawCallback: function( settings, json ) {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                $(".checkall").iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                }).on('ifChanged', function (e) {
                    // Get the field name
                    var isChecked = e.currentTarget.checked;
                    if (isChecked) {
                        $('.chkSurveyId').iCheck('check');
                    } else {
                        $('.chkSurveyId').iCheck('uncheck');
                    }
                });
            },
            initComplete: function(settings, json) {
                $("#tbResult_filter").html($("#search-section .grid-menu").html());
            }
        });

    }

    function gotoSearch() {
        $('.checkall').iCheck('uncheck');
        _showSearch(true);
        tbResult.ajax.url("@Url.Content("~/survey/search?")" + formParams("#search-form .input-search")).load();
    }

    function gotoAdd() {
        _showSearch(false);
        ajaxPartialLoad("@Url.Content("~/survey/find/0")", "addedit-section", _gotoAdd)
    }

    // Callback after ajax completed
    function _gotoAdd(html) {
        _initialAddEditForm();

    }

    function gotoCopy() {
        var id = getCheckedOneValue("selectItem");
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/survey/copy/")" + id, "addedit-section", _gotoCopy)
        }
    }

    // Callback after ajax completed
    function _gotoCopy(html) {
        _initialAddEditForm();
    }

    function gotoEdit() {
        var id = getCheckedOneValue("selectItem");
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/survey/find/")" + id, "addedit-section", _gotoEdit)
        }
    }

    // Callback after ajax completed
    function _gotoEdit(html) {
        _initialAddEditForm();
    }

    function gotoEditById(id) {
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/survey/find/")" + id, "addedit-section", _gotoEditById)
        }
    }

    // Callback after ajax completed
    function _gotoEditById(html) {
        _initialAddEditForm();
    }

    function gotoDelete() {
        var ids = getCheckedMultiple("selectItem",true);
        if (ids != "") {
            if (confirm("Would you like to delete data?")) {
                ajaxUrlRequest("@Url.Content("~/survey/delete?ids=")" + ids, _gotoDelete);
            }
        }
    }

    // Callback after ajax completed
    function _gotoDelete(data) {
        if (data.StatusCode == "0")
        {
            gotoSearch();
        }
        else
        {
            alert(data.Message);
        }
    }

    function gotoExportExcel() {
        var ids = getCheckedMultiple("selectItem",false);
        location.href = "@Url.Content("~/survey/exportexcel?")ids=" + ids+"&" + formParams("#search-form .input-search");
    }


    function _showSearch(_showSearch) {
        if (_showSearch) {
            $("#search-section").show();
            $("#addedit-section").hide();
        } else {
            $("#search-section").hide();
            $("#addedit-section").show();
        }
    }

</script>
