﻿@model Library.Winplus.syslib.standard.survey.search.SurveySearch
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Session.SessionID);
    string AppTitle = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig("AppTitle");
    if (AppTitle == null)
    {
        AppTitle = "WeCollect : Housing Survey Application";
    }
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="@Url.Content("~/Resource/img/fav.ico")">
    <title>WeCollect : @Model.Project.ProjectName</title>

    @Html.Partial("~/Views/_shared/_IncludeCss.cshtml", null)

    @Html.Partial("~/Views/_shared/_IncludeJs.cshtml", null)
    <style>
        .span-required{
            color:red;
        }
    </style>
</head>

<!-- <body class="mini-navbar"> [will auto hide left menu bar]-->
<body style="height:100%;">
    @Html.Partial("~/Views/standard/survey/dlg_addedit.cshtml")
    <div class="row" style="height:100%;">
        <div class="col-md-12" style="height:100%;">
            <div class="ibox" style="height:100%;">
                <div class="ibox-title">
                    <table>
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Resource/img/housing_survey_logo.png")" style="width:30px;" />
                            </td>
                            <td style="padding-left:15px;font-size:22px;vertical-align:text-bottom;">
                                <span style="color:#8BC83D;">WE</span><span style="color:#959A9D;">Collect</span>
                            </td>
                            <td style="padding-left:13px;color:#959A9D;font-size:14px;vertical-align:text-bottom;">
                                <div style="width:1px;height:20px;background-color:#959A9D;margin-bottom:-3px;"></div>
                            </td>
                            <td style="padding-left:15px;color:#959A9D;font-size:14px;vertical-align:text-bottom;">
                                Housing Survey Application
                            </td>
                            <td style="padding-left:13px;color:#959A9D;font-size:14px;vertical-align:text-bottom;">
                                <div style="width:1px;height:20px;background-color:#959A9D;margin-bottom:-3px;"></div>
                            </td>
                            <td style="padding-left:15px;color:black;font-size:14px;vertical-align:text-bottom;">
                                @Model.Project.ProjectName
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="ibox-content" style="background-color:#2F4050;padding-top:1px;padding-left:16px;padding-right:0px;height:100%;">

                    <div class="row" style="height:100%;">
                        <div class="col-md-2" id="div_left" style="padding-left:0px;padding-right:0px;height:100%;">
                            <div class="ibox" style="height:90%;">
                                <div class="ibox-title">
                                    <h5 style="color:#8BC83D;">ค้นหาข้อมูล</h5>
                                </div>
                                <div class="ibox-content" style="height:100%;padding-left:0px;padding-right:0px;">
                                    <form role="form" id="search-form">
                                        @Html.HiddenFor(model => model.search.ProjectId, new { @class = "input-search" })
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel-body" style="padding-left:5px;padding-right:5px;padding-top:8px;padding-bottom:0px;">
                                                    <div class="panel-group" id="accordion">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">ลักษณะอาคาร</a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                                <div class="panel-body">
                                                                    <div class="form-group">
                                                                        <label>@Html.DisplayNameFor(model => model.search.BuildingTypeId)</label>
                                                                        <div>
                                                                            @Html.DropDownListFor(model => model.search.BuildingTypeId, Model.GetSelectedItems("BuildingType", Model.search.BuildingTypeId, ""), new { @class = "form-control input-search chosen-select", @multiple = true })
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>@Html.DisplayNameFor(model => model.search.MaterialId)</label>
                                                                        <div>
                                                                            @Html.DropDownListFor(model => model.search.MaterialId, Model.GetSelectedItems("Material", Model.search.MaterialId, ""), new { @class = "form-control input-search chosen-select", @multiple = true })
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>@Html.DisplayNameFor(model => model.search.AdvantageId)</label>
                                                                        <div>
                                                                            @Html.DropDownListFor(model => model.search.AdvantageId, Model.GetSelectedItems("Advantage", Model.search.AdvantageId, ""), new { @class = "form-control input-search chosen-select", @multiple = true })
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>@Html.DisplayNameFor(model => model.search.SurveyCode)</label>
                                                                        @Html.TextBoxFor(model => model.search.SurveyCode, new { @class = "form-control input-search" })
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>@Html.DisplayNameFor(model => model.search.BuildingName)</label>
                                                                        @Html.TextBoxFor(model => model.search.BuildingName, new { @class = "form-control input-search" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">การสำรวจภาคสนาม</a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    <div class="form-group">
                                                                        <label>@Html.DisplayNameFor(model => model.search.OwnerSystemUserId)</label>
                                                                        <div>
                                                                            @Html.DropDownListFor(model => model.search.OwnerSystemUserId, Model.GetSelectedItems("SystemUser", Model.search.OwnerSystemUserId, ""), new { @class = "form-control input-search chosen-select", @multiple = true })
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label>@MyResources.Winplus.Resource.AddNewPoint</label>
                                                                        <div>
                                                                            <select class="form-control input-search" data-val="true" id="search_NewPoint">
                                                                                <option value=""></option>
                                                                                <option value="true">@MyResources.Winplus.Resource.AddNewPoint</option>
                                                                                <option value="false">@MyResources.Winplus.Resource.OldPoint</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>@Html.DisplayNameFor(model => model.search.UpdateFlag)</label>
                                                                        <div>
                                                                            <select class="form-control input-search" data-val="true" id="search_UpdateFlag">
                                                                                <option value=""></option>
                                                                                <option value="true">แก้ไขแล้ว</option>
                                                                                <option value="false">ยังไม่ได้แก้ไข</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">วันที่บันทึก</a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapseThree" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    <div class="form-group">
                                                                        <label>ระบุช่วงเวลา</label>
                                                                        <div class="input-daterange input-group">
                                                                            <input type="text" class="input-sm form-control input-search" id="search_KeyInOn_From" style="height:34px;" value="" />
                                                                            <span class="input-group-addon">to</span>
                                                                            <input type="text" class="input-sm form-control input-search" id="search_KeyInOn_To" style="height:34px;" value="" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="text-align:right;padding-right:5px;">
                                            <button type="button" onclick="javascript:gotoSearch(null);" class="btn btn-default" aria-label="Search" style="width:140px;">
                                                <span class="glyphicon glyphicon-search"></span> ค้นหา
                                            </button>
                                            <script>
                                                function gotoSearch(action) {
                                                    if (action && action != null) {
                                                        pageAction = action;
                                                    } else {
                                                        pageAction = "Search";
                                                    }
                                                    if (tbResult == null) {
                                                        _initTbResult();
                                                    } else {
                                                        tbResult.ajax.url("@Url.Content("~/survey/search?")" + formParams("#search-form .input-search")).load();
                                                    }
                                                }
                                            </script>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10" id="div_main" style="padding-left:1px;padding-right:0px;height:100%;">
                            <div class="ibox" style="height:90%;">
                                <div class="ibox-title">
                                    <script>
                                        function hideLeft() {
                                            if ($("#div_left").is(":hidden")) {
                                                $("#div_left").show(300);
                                                $("#div_main").removeClass();
                                                $("#div_main").addClass("col-md-10");
                                                $("#i_left_right").removeClass();
                                                $("#i_left_right").addClass("fa fa-angle-double-left");
                                            } else {
                                                $("#div_left").hide(200);
                                                $("#div_main").removeClass();
                                                $("#div_main").addClass("col-md-12");
                                                $("#i_left_right").removeClass();
                                                $("#i_left_right").addClass("fa fa-angle-double-right");
                                            }
                                        }
                                        function hideFooter() {
                                            if ($("#div_footer").is(":hidden")) {
                                                $("#div_footer").show();
                                                $("#div_footer2").hide();
                                                $("#div_map").animate({ height: '58%' }, 500);
                                            } else {
                                                $("#div_footer").hide();
                                                $("#div_footer2").show();
                                                $("#div_map").animate({ height: '92%' }, 500);
                                            }
                                        }
                                    </script>
                                    <table>
                                        <tr>
                                            <td>
                                                <a class="btn btn-white btn-bitbucket" onclick="javascript: hideLeft();"><i id="i_left_right" class="fa fa-angle-double-left"></i></a>
                                            </td>
                                            <td style="padding-top:6px;padding-left:5px;">
                                                <h5>แผนที่แสดงตำแหน่งอาคาร</h5>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="ibox-content" id="div_map" style="height:58%;">
                                    <div class="google-map" id="map" style="height:100%;"></div>
                                </div>
                                <div id="div_footer2" class="ibox-footer" style="display:none;height:8%;">
                                    <table style="width:100%;">
                                        <tr>
                                            <td></td>
                                            <td style="text-align:right;"><a class="btn btn-white btn-bitbucket" onclick="javascript: hideFooter();"><i class="fa fa-angle-double-up"></i></a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div id="div_footer" class="ibox-footer" style="height:42%;">
                                    <p>
                                        <table style="width:100%;">
                                            <tr>
                                                <td><button class="btn btn-default" style="color:darkgreen" type="button" onclick="gotoExportSurvey();" title="Export"><i class="fa fa-table"></i> Export Data</button></td>
                                                <td style="text-align:right;"><a class="btn btn-white btn-bitbucket" onclick="javascript: hideFooter();"><i id="icon_up_down" class="fa fa-angle-double-down"></i></a></td>
                                            </tr>
                                        </table>
                                        <script>
                                            function gotoExportSurvey() {
                                                var url = "@Url.Content("~/survey/ExportSurvey?")" + formParams("#search-form .input-search");
                                                window.open(url);
                                            }
                                        </script>
                                    </p>
                                    <section class="content" style="overflow-x:auto;">
                                        <table id="tbResult" class="display nowrap hover table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.SurveyCode)</th>
                                                    <th>@MyResources.Winplus.Resource.LatLng</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.BuildingName)</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.AdvantageId)</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.Advantage)</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.BuildingTypeId)</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.FloorNoId)</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.MaterialId)</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.Width)</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.Long)</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.Height)</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.FarFromRefer)</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.UnitNo)</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.OwnershipId)</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.OwnerSystemUserId)</th>
                                                    <th>@Html.DisplayNameFor(model => model.search.KeyInOn)</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKqcfGYPmfbNNBZEw2V5r-N7MZ2HFJcL4"></script>

    <script type="text/javascript">
        function formLoad() {
            _initTbResult();
            bindingStandardField();
            $('.chosen-select').chosen({ width: "100%" });
        }

        // When the window has finished loading google map
        google.maps.event.addDomListener(window, 'load', init);
        var map = null;
        function init() {
            try {
                formLoad();

                map = new google.maps.Map(document.getElementById('map'), mapOptions);
                google.maps.event.addListener(map, 'dragend', function () { RefreshMapSurvey(); });
                google.maps.event.addListener(map, 'zoom_changed', function () {
                    RefreshMapSurvey();
                });
                //map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById("modal-survey-addedit"));
            } catch (e) {
                alert("initial Error->"+e)
            }
        }

        function RefreshMapSurvey() {
            var zoom = map.getZoom();

            //console.log(zoom);
            if (zoom >= 15) {
                var center = map.getCenter();
                var radius = getDistance();
                var mapParam = "&StartingLatitude=" + center.lat() + "&StartingLongitude=" + center.lng() + "&MaxDistance=" + radius;
                var url = '@Url.Content("~/survey/SearchMap?")' + formParams("#search-form .input-search") + mapParam;
                ajaxUrlRequest(url, RefreshMapSurveyResponse)
            } else {
                emptyMarker();
                //if (markerCluster != null) {
                //    markerCluster.clearMarkers();
                //    markerCluster.setMap(null);
                //}
            }
        }

        function RefreshMapSurveyResponse(response) {
            response = JSON.parse(response);
            MarkPoint(response.data);
        }

        function getDistance() {
            var distance = 1128;
            if (map== null) return distance;

            var zoom = map.getZoom();
            if (zoom == 1) {
                distance = 591657550;
            } else if (zoom == 2) {
                distance = 295828775;
            } else if (zoom == 3) {
                distance = 147914387;
            } else if (zoom == 4) {
                distance = 73957193;
            } else if (zoom == 5) {
                distance = 36978596;
            } else if (zoom == 6) {
                distance = 18489298;
            } else if (zoom == 7) {
                distance = 9244649;
            } else if (zoom == 8) {
                distance = 4622324;
            } else if (zoom == 9) {
                distance = 2311162;
            } else if (zoom == 10) {
                distance = 1155581;
            } else if (zoom == 11) {
                distance = 577790;
            } else if (zoom == 12) {
                distance = 288895;
            } else if (zoom == 13) {
                distance = 144447;
            } else if (zoom == 14) {
                distance = 72223;
            } else if (zoom == 15) {
                distance = 36111;
            } else if (zoom == 16) {
                distance = 18055;
            } else if (zoom == 17) {
                distance = 9027;
            } else if (zoom == 18) {
                distance = 4513;
            } else if (zoom == 19) {
                distance = 2256;
            } else if (zoom == 20) {
                distance = 1128;
            }

            return distance;
        }
        var mapOptions = {
                zoom: 19,
                center: new google.maps.LatLng(@Model.Project.InitialLatitude, @Model.Project.InitialLongitude),
                //center: new google.maps.LatLng(13.24574, 101.18942),
                // Style for Google Maps
                styles: [
                    {
                        "featureType": "water",
                        "stylers": [
                            {
                                "saturation": 43
                            },
                            {
                                "lightness": -11
                            },
                            {
                                "hue": "#0088ff"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "hue": "#ff0000"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 99
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#808080"
                            },
                            {
                                "lightness": 54
                            }
                        ]
                    },
                    {
                        "featureType": "landscape.man_made",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#ece2d9"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#ccdca1"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#767676"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape.natural",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#b8cb93"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.sports_complex",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.medical",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.business",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }
                        ]
                    }
                ]
            };
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script>
    var tbResult = null;
    function _initTbResult() {
        tbResult = $('#tbResult').DataTable({
            "dom": '<"top"i>rt<"bottom"flp><"clear">',
            "pageLength": 5,
            "serverSide": true,
            "bFilter": false,
            "bLengthChange": false,
            "columnDefs": [
                { "targets": [1], "orderable": false }
            ],
            "order": [[ 0, "desc" ]],
            "ajax": {
                "url": '@Url.Content("~/survey/search?")'+ formParams("#search-form .input-search"),
                "type": "POST"
            },
            "columns": [
                { "name": "SurveyId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "SurveyCode", "data": "SurveyCode", "render": function (data, type, row, meta) { return FormatEditSurvey(data, type, row, meta,"SurveyId"); } },
                { "name": "Latitude", "data": "Latitude", "render": function (data, type, row, meta) { return FormatLatLng(data, type, row, meta); } },
                { "name": "BuildingName", "data": "BuildingName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "AdvantageId", "data": "AdvantageIdAdvantageName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Advantage", "data": "Advantage", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BuildingTypeName", "data": "BuildingTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "FloorNoName", "data": "FloorNoName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "MaterialName", "data": "MaterialName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Width", "data": "Width", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "Long", "data": "Long", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "Height", "data": "Height", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "FarFromRefer", "data": "FarFromRefer", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "UnitNo", "data": "UnitNo", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "OwnershipId", "data": "OwnershipIdOwnershipName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "OwnerSystemUserId", "data": "OwnerSystemUserIdSystemUserName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "KeyInOn", "data": "KeyInOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
            ],
            "cache": false,
            fnDrawCallback: function( settings, json ) {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                $(".checkall").iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                }).on('ifChanged', function (e) {
                    // Get the field name
                    var isChecked = e.currentTarget.checked;
                    if (isChecked) {
                        $('.chkSurveyId').iCheck('check');
                    } else {
                        $('.chkSurveyId').iCheck('uncheck');
                    }
                    });


                if (cityCircle != null) cityCircle.setMap(null);
                //console.log(settings.json.mapData.data);
                //MarkPoint(settings.json.mapData.data);
                RefreshMapSurvey();
            },
            initComplete: function(settings, json) {
                $("#tbResult_filter").html($("#search-section .grid-menu").html());
            }
        });

        }

        function FormatLatLng(data, type, row, meta) {
            return "<a href='javascript:showMarker("
                + row["Latitude"] + ","
                + row["Longitude"] + ",\""
                + row["SurveyCode"] + "\","
                + row["SurveyId"] + ","
                + row["UpdateFlag"] + ""
                + ");'>" + row["Latitude"] + ", " + row["Longitude"]+"</a>";
        }

        function FormatEditSurvey(data, type, row, meta, pkName) {
            return "<a href='javascript:gotoEditById(" +@Model.Project.ProjectId+","+ row[pkName] + ");'>" + data + "</a>";
        }

        var cityCircle = null;
        var showNewMarker = null;
        function showMarker(Latitude, Longitude, SurveyCode, SurveyId, UpdateFlag) {
            if (cityCircle != null) cityCircle.setMap(null);
            if (showNewMarker != null) showNewMarker.setMap(null);
            map.setZoom(22);
            map.setCenter({ lat: Latitude, lng: Longitude });  
            var hasMarker = false;
            for (var i = 0; i < markers.length; i++) {
                //console.log("match:" + markers[i].id + ":" + SurveyId);
                if (markers[i].id == SurveyId) {
                    hasMarker = true;
                    //map.setZoom(25);
                    //map.setCenter(markers[i].getPosition());  

                    cityCircle = new google.maps.Circle({
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.35,
                        strokeWeight: 1,
                        fillColor: '#FF0000',
                        fillOpacity: 0.35,
                        map: map,
                        center: markers[i].getPosition(),
                        radius: 0.5
                    });
                    break;
                }
            }
            if (!hasMarker) {
                showNewMarker = newMarker(Latitude, Longitude, SurveyCode, SurveyId, UpdateFlag);
            }
        }

        // map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var markers = [];
        var markerCluster=null;
        function emptyMarker() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
                if (markerCluster!=null)
                markerCluster.removeMarker(markers[i]);
            }
            markers = [];
        }

        var pageAction = "";
        var firstPoint = null;
        function MarkPoint(datas) {
            emptyMarker();
            
            //var latlngbounds = new google.maps.LatLngBounds();
            for (i = 0; i < datas.length; i++) {
                var data = datas[i];
                markers.push(newMarker(data.Latitude, data.Longitude, data.SurveyCode, data.SurveyId, data.MapIcon));
                if (firstPoint == null) {
                    firstPoint = data;
                }
                //latlngbounds.extend(new google.maps.LatLng(data.Latitude, data.Longitude));
            }

            if (pageAction == "Search") {
                pageAction = "";
                if (firstPoint != null) {
                    map.setCenter({ lat: firstPoint.Latitude, lng: firstPoint.Longitude })
                }
            }
            //map.fitBounds(latlngbounds);
        }

        function newMarker(Latitude, Longitude, SurveyCode, SurveyId, MapIcon) {
            var myLatLng = { lat: Latitude, lng: Longitude };
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: SurveyCode,
                id: SurveyId,
                icon: MapIcon
            });
            google.maps.event.addListener(marker, 'click', function () { addEditSurvey(@Model.Project.ProjectId,this.id); });
            return marker;
        }
    </script>
</body>

</html>
