﻿@model Library.Winplus.syslib.standard.project.model.Project

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/project/save")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            @if(Model.ProjectId.HasValue){
                                @MyResources.Winplus.Resource.Update
                            }else{
                                @MyResources.Winplus.Resource.Create
                            }
                            @Html.DisplayNameFor(model => model.ProjectName)
                        </h5>
                    </div>
                    <div class="col-sm-6" style="text-align:right;">
                        <div class="form-group" style="padding-right:10px;">
                            <button class="btn btn-white" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                            @if (Model.HasAuthorize(Model.loginUser, "Project", "Add") || Model.HasAuthorize(Model.loginUser, "Project", "Edit"))
                            {
                                <button class="btn ladda-button btn-primary" data-style="expand-left" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    @Html.HiddenFor(model => model.ProjectId)


                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ProjectName)<span class="span-required">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.ProjectName), @required = "" })
                            @if (Model.ProjectId.HasValue)
                            {
                                <div><a href="@Url.Content("~/Survey/map/"+Model.ProjectId)" target="_blank">(Google Map)</a></div>
                            }
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.ProjectDescription)</label>
                        <div class="col-sm-10">
                            <div style="border:3px solid #F5F5F5;">
                                @Html.HiddenFor(model => model.ProjectDescription)
                                <div id="ProjectDescription-Editor" class="full-wysiwyg-editor">
                                    @Html.Raw(Model.ProjectDescription)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.InitialLatitude)</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.InitialLatitude, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.InitialLatitude), @type = "number", @step = "any" })
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.InitialLongitude)</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.InitialLongitude, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.InitialLongitude), @type = "number", @step = "any" })
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 control-label">@MyResources.Winplus.Resource.UploadFile</label>
                        <div class="col-sm-8">
                            <input type="file" id="UploadFileUpload" name="UploadFileUpload" />
                            <div style="color:red;">* ใช้ในกรณีอัพโหลดครั้งแรก</div>
                        </div>
                    </div>
                    @if (Model.ProjectId.HasValue)
                    {
                        <div class="form-group col-sm-12">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <table class="display hover table table-bordered">
                                    <tr>
                                        <td class="td-label" style="font-weight:bold;" colspan="2">สรุปจำนวนรายการทั้งหมด</td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">Total Completed</td>
                                        <td class="td-value">@Model.TotalCompleted</td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">Total Inprocess</td>
                                        <td class="td-value">@Model.TotalInprocess</td>
                                    </tr>
                                    <tr>
                                        <td class="td-label" style="text-decoration:underline;font-weight:bold;text-align:right;">Total All</td>
                                        <td class="td-value">@Model.TotalSurvey</td>
                                    </tr>
                                </table>
                                <style>
                                    .td-label {
                                        background-color: azure;
                                        color: black;
                                        text-align: left;
                                        width: 150px;
                                    }

                                    .td-value {
                                        text-align: left;
                                    }
                                </style>
                            </div>
                        </div>
                    }
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ActiveStatusId)<span class="span-required">*</span></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('ActiveStatus','ActiveStatusId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.ActiveStatusId, Model.GetSelectedItems("ActiveStatus", Model.ActiveStatusId, ""), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            <div class="ibox-footer">
                <div class="row">
                    <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedBySystemUserName)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedBySystemUserName)</label>
    	            </div>
                </div>
              </div>
        </div>
        </form>
    </div>
</div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
    }

    function _initialSubmitForm() {
        $("#ProjectDescription").val($('#ProjectDescription-Editor').summernote('code'));
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

</script>
