﻿@model Library.Winplus.syslib.standard.project.search.ProjectSearch

@Html.Partial("~/Views/standard/project/import.cshtml",Model)

<div class="row" id="addedit-section">

</div>

<div class="row" id="search-section">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@MyResources.Winplus.Resource.Search @Html.DisplayNameFor(model => model.search.ProjectName)</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <section class="content-header">
                        <div class="box box-default color-palette-box">
                            <div class="box-body">
                                <div class="row">
                                    <form id="search-form">
                                        <!-- Basic search by text -->
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <div class="form-group">
                                                    <input type="text" id="SearchText" class="form-control input-search" placeholder="@MyResources.Winplus.Resource.TextToSearch" />
                                                </div>
                                                <div class="input-group-btn">
                                                    <button type="button" onclick="javascript:gotoSearch();" class="btn btn-default" aria-label="Search">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div style="height: 3px;"></div>
                            
                            <!-- Grid view -->
                            <section class="content" style="overflow-x:auto;">
                                <table id="tbResult" class="display nowrap hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                            <th><input type="checkbox" class="checkall" /></th>
                                            <th style="width:30px;"></th>
                                            <th>@Html.DisplayNameFor(model => model.search.ProjectName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.InitialLatitude)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.InitialLongitude)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CreatedOn)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CreatedBy)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ModifiedOn)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ModifiedBy)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>

    <div style="display: none" class="grid-menu">
        @if (Model.HasAuthorize(Model.loginUser, "Project", "Add"))
        {
            <button class="btn btn-success btn-circle" type="button" onclick="gotoAdd();" title="Add"><i class="fa fa-plus"></i></button>
        }
        @if (Model.HasAuthorize(Model.loginUser, "Project", "Delete"))
        {
            <button class="btn btn-danger btn-circle" type="button" onclick="gotoDelete();" title="Delete"><i class="fa fa-minus"></i></button>
        }
    </div>

</div>



<script>

    // After menu click and ajax loading completed...
    function singlePageLoad() {
        _initTbResult();
        bindingStandardField();

        $('#search-section .input-search').unbind('keyup');
        $("#search-section .input-search").keyup(function (event) {
            if (event.keyCode == 13) {
                gotoSearch();
            }
        });
    }

    var tbResult = null;
    function _initTbResult() {
        tbResult = $('#tbResult').DataTable({
            "serverSide": true,
            "bFilter": true,
            "columnDefs": [
                { "targets": [1], "orderable": false }
            ],
            "order": [[ 0, "desc" ]],
            "ajax": {
                "url": '@Url.Content("~/project/search?")'+ formParams("#search-form .input-search"),
                "type": "POST"
            },
            "columns": [
                { "name": "ProjectId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "", "width": "5px", "data": "ProjectId", "render": function (data, type, row, meta) { return FormatCheckbox(data, type, row, meta, "ProjectId", "selectItem"); } },
                { "name": "Edit", "data": "ProjectName", "render": function (data, type, row, meta) { return FormatEditIconById(data, type, row, meta); } },
                { "name": "ProjectMap", "data": "ProjectMap", "render": function (data, type, row, meta) { return FormatGoogleMap(data, type, row, meta); } },
                { "name": "InitialLatitude", "data": "InitialLatitude", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "InitialLongitude", "data": "InitialLongitude", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "CreatedOn", "data": "CreatedOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "CreatedBy", "data": "CreatedBySystemUserName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ModifiedOn", "data": "ModifiedOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "ModifiedBy", "data": "ModifiedBySystemUserName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
            ],
            "cache": false,
            fnDrawCallback: function( settings, json ) {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                $(".checkall").iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                }).on('ifChanged', function (e) {
                    // Get the field name
                    var isChecked = e.currentTarget.checked;
                    if (isChecked) {
                        $('.chkProjectId').iCheck('check');
                    } else {
                        $('.chkProjectId').iCheck('uncheck');
                    }
                });
            },
            initComplete: function(settings, json) {
                $("#tbResult_filter").html($("#search-section .grid-menu").html());
            }
        });

    }

    function FormatEditIconById(data, type, row, meta, pkName) {
        return "<a href='javascript:gotoEditById(" + row["ProjectId"] + ");'><center><img src='@Url.Content("~/Resource/img/icon/edit-icon.png")'/></center></a>";
    }

    function FormatGoogleMap(data, type, row, meta) {
        return "<a target='_blank' href='@Url.Content("~/Survey/map/")" + row["ProjectId"]+"'>"+row["ProjectName"]+" (แผนที่)</a>";
    }

    function gotoSearch() {
        $('.checkall').iCheck('uncheck');
        _showSearch(true);
        tbResult.ajax.url("@Url.Content("~/project/search?")" + formParams("#search-form .input-search")).load();
    }

    function gotoAdd() {
        _showSearch(false);
        ajaxPartialLoad("@Url.Content("~/project/find/0")", "addedit-section", _gotoAdd)
    }

    // Callback after ajax completed
    function _gotoAdd(html) {
        _initialAddEditForm();

    }

    function gotoCopy() {
        var id = getCheckedOneValue("selectItem");
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/project/copy/")" + id, "addedit-section", _gotoCopy)
        }
    }

    // Callback after ajax completed
    function _gotoCopy(html) {
        _initialAddEditForm();
    }

    function gotoEdit() {
        var id = getCheckedOneValue("selectItem");
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/project/find/")" + id, "addedit-section", _gotoEdit)
        }
    }

    // Callback after ajax completed
    function _gotoEdit(html) {
        _initialAddEditForm();
    }

    function gotoEditById(id) {
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/project/find/")" + id, "addedit-section", _gotoEditById)
        }
    }

    // Callback after ajax completed
    function _gotoEditById(html) {
        _initialAddEditForm();
    }

    function gotoActive(activeId) {
        var ids = getCheckedMultiple("selectItem",true);
        if (ids != "") {
            var activeMessage = activeId==1?'active':'Inactive';
            if (confirm("Would you like to " + activeMessage + " data?")) {
                ajaxUrlRequest("@Url.Content("~/project/active?")id="+activeId+"&ids=" + ids, _gotoActive);
            }
        }
    }

    // Callback after ajax completed
    function _gotoActive(data) {
        if (data.StatusCode == "0")
        {
            gotoSearch();
        }
        else
        {
            alert(data.Message);
        }
    }

    function gotoDelete() {
        var ids = getCheckedMultiple("selectItem",true);
        if (ids != "") {
            if (confirm("Would you like to delete data?")) {
                ajaxUrlRequest("@Url.Content("~/project/delete?ids=")" + ids, _gotoDelete);
            }
        }
    }

    // Callback after ajax completed
    function _gotoDelete(data) {
        if (data.StatusCode == "0")
        {
            gotoSearch();
        }
        else
        {
            alert(data.Message);
        }
    }

    function gotoExportExcel() {
        var ids = getCheckedMultiple("selectItem",false);
        location.href = "@Url.Content("~/project/exportexcel?")ids=" + ids+"&" + formParams("#search-form .input-search");
    }


    function _showSearch(_showSearch) {
        if (_showSearch) {
            $("#search-section").show();
            $("#addedit-section").hide();
        } else {
            $("#search-section").hide();
            $("#addedit-section").show();
        }
    }

</script>
