@model Library.Winplus.syslib.standard.logger.model.Logger

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/logger/save")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            @if(Model.LoggerId.HasValue){
                                @MyResources.Winplus.Resource.Update
                            }else{
                                @MyResources.Winplus.Resource.Create
                            }
                            @Html.DisplayNameFor(model => model.LoggerName)
                        </h5>
                    </div>
                    <div class="col-sm-6" style="text-align:right;">
                        <div class="form-group" style="padding-right:10px;">
                            <button class="btn btn-white" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                            @if (Model.HasAuthorize(Model.loginUser, "Logger", "Add") || Model.HasAuthorize(Model.loginUser, "Logger", "Edit"))
                            {
                                <button class="btn ladda-button btn-primary" data-style="expand-left" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
            <div class="row">
                    @Html.HiddenFor(model => model.LoggerId)

	                @if(!Model.IsHiddenName){
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LoggerName)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LoggerName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LoggerName),@required=""})
		                </div>
	                </div>
	                }
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LogClass)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LogClass, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LogClass),@required=""})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LogMethod)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LogMethod, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LogMethod),@required=""})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LogLevel)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LogLevel, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LogLevel)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.TokenId)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.TokenId, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.TokenId)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.UserName)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.UserName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.UserName)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.RequestUrl)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.RequestUrl, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.RequestUrl)})
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Request)</label>
		                <div class="col-sm-10">
                            <div style="border:3px solid #F5F5F5;">
                                @Html.HiddenFor(model => model.Request)
			                    <div id="Request-Editor" class="full-wysiwyg-editor" >
                                    @Html.Raw(Model.Request)
                                </div>
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Response)</label>
		                <div class="col-sm-10">
                            <div style="border:3px solid #F5F5F5;">
                                @Html.HiddenFor(model => model.Response)
			                    <div id="Response-Editor" class="full-wysiwyg-editor" >
                                    @Html.Raw(Model.Response)
                                </div>
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.LogMessage)</label>
		                <div class="col-sm-10">
                            <div style="border:3px solid #F5F5F5;">
                                @Html.HiddenFor(model => model.LogMessage)
			                    <div id="LogMessage-Editor" class="full-wysiwyg-editor" >
                                    @Html.Raw(Model.LogMessage)
                                </div>
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.ErrorMessage)</label>
		                <div class="col-sm-10">
                            <div style="border:3px solid #F5F5F5;">
                                @Html.HiddenFor(model => model.ErrorMessage)
			                    <div id="ErrorMessage-Editor" class="full-wysiwyg-editor" >
                                    @Html.Raw(Model.ErrorMessage)
                                </div>
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ProcessingTime)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.ProcessingTime, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.ProcessingTime),@type="number",@step="any"})
		                </div>
	                </div>
            </div>
            <div class="ibox-footer">
                <div class="row">
                    <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedBySystemUserName)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedBySystemUserName)</label>
    	            </div>
                </div>
              </div>
        </div>
        </form>
    </div>
</div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
    }

    function _initialSubmitForm() {
        $("#Request").val($('#Request-Editor').summernote('code'));
        $("#Response").val($('#Response-Editor').summernote('code'));
        $("#LogMessage").val($('#LogMessage-Editor').summernote('code'));
        $("#ErrorMessage").val($('#ErrorMessage-Editor').summernote('code'));
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

</script>
