@model Library.Winplus.syslib.standard.systemuser.model.SystemUser

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/systemuser/save")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            @if(Model.SystemUserId.HasValue){
                                @MyResources.Winplus.Resource.Update
                            }else{
                                @MyResources.Winplus.Resource.Create
                            }
                            @Html.DisplayNameFor(model => model.SystemUserName)
                        </h5>
                    </div>
                    <div class="col-sm-6" style="text-align:right;">
                        <div class="form-group" style="padding-right:10px;">
                            <button class="btn btn-white" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                            @if (Model.HasAuthorize(Model.loginUser, "SystemUser", "Add") || Model.HasAuthorize(Model.loginUser, "SystemUser", "Edit"))
                            {
                                <button class="btn ladda-button btn-primary" data-style="expand-left" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
            <div class="row">
                    @Html.HiddenFor(model => model.SystemUserId)

	                @if(!Model.IsHiddenName){
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SystemUserName)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.SystemUserName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.SystemUserName),@required=""})
		                </div>
	                </div>
	                }
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SystemRoleId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('SystemRole','SystemRoleId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.SystemRoleId,Model.GetSelectedItems("SystemRole", Model.SystemRoleId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.UserName)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.UserName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.UserName),@required=""})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Password)</label>
		                <div class="col-sm-8">
			                @Html.PasswordFor(model=>model.Password, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Password)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.FirstName)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.FirstName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.FirstName)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LastName)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LastName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LastName)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Email)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.Email, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Email)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PhoneNo)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.PhoneNo, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.PhoneNo)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DefaultMenuUrl)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.DefaultMenuUrl, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.DefaultMenuUrl)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ActiveStatusId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('ActiveStatus','ActiveStatusId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.ActiveStatusId,Model.GetSelectedItems("ActiveStatus", Model.ActiveStatusId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
            </div>
            <div class="ibox-footer">
                <div class="row">
                    <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedBySystemUserName)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedBySystemUserName)</label>
    	            </div>
                </div>
              </div>
        </div>
        </form>
    </div>
</div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
    }

    function _initialSubmitForm() {
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

</script>
