﻿@model Library.Winplus.syslib.customize.homepage.model.HomePage
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Session.SessionID);
    
}

<nav class="navbar-default navbar-static-side" role="navigation">
	        <div class="sidebar-collapse">
	            <ul class="nav metismenu" id="side-menu">
	                <li class="nav-header">
	                    <div class="dropdown profile-element"> 
                            <span style="padding-left:25px;">
	                            <img alt="image" class="" src="@Url.Content("~/resource/img/housing_survey_logo.png")" style="width:30px;" />
	                        </span>
	                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
	                            <span class="clear"> 
                                    <span class="block m-t-xs"> 
                                    <strong class="font-bold">@loginUser.User.SystemUserName</strong>
	                             </span> 
                                    <span class="text-muted text-xs block">
                                     @loginUser.User.SystemRoleIdSystemRoleName
                                     <b class="caret"></b>
	                                </span> 
	                            </span> 
	                        </a>
	                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
	                            <li><a href="javascript:gotoUpdateProfile();">Edit Profile</a></li>
	                            <li><a href="@Url.Content("~/LoginUser/Logout")">Logout</a></li>
	                        </ul>
	                    </div>
	                    <div class="logo-element">
	                        WE
	                    </div>
	                </li>
	                @foreach (var MainMenu in Model.lstDisplaySystemParentMenu)
                    {
                        if(!MainMenu.ParentIsHidden){
                            <li>
                                <a href="@Url.Content("@MainMenu.MenuUrl")">
                                    <i class="fa @MainMenu.IconName"></i> 
                                    <span class="nav-label">@MainMenu.SystemParentMenuName</span>
                                    <span class="fa arrow"></span>
                                </a>
                                @if (MainMenu.lstDisplaySystemMenu.Count > 0)
                                {
                                    <ul class="nav nav-second-level collapse">
                                    @foreach (var SubMenu in MainMenu.lstDisplaySystemMenu)
                                    {
                                        if(!SubMenu.IsHidden){
                                            <li>
                                                <a href="javascript:navigateTo('@Url.Content(SubMenu.MenuUrl)')">
                                                    <i class="fa fa-angle-right"></i> 
                                                    @SubMenu.SystemMenuName
                                                </a>
                                            </li>
                                        }
                                    }
                                    </ul>
                                }
                            </li>
                        }
                    }
	               
	                <li class="special_link">
	                    <a href="#"><i class="fa fa-windows"></i> <span class="nav-label">Housing Survey</span></a>
	                </li>
	            </ul>

	        </div>
	    </nav>