@model Library.Winplus.syslib.standard.systemrolemenu.model.SystemRoleMenu

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/systemrolemenu/save")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            @if(Model.SystemRoleMenuId.HasValue){
                                @MyResources.Winplus.Resource.Update
                            }else{
                                @MyResources.Winplus.Resource.Create
                            }
                            @Html.DisplayNameFor(model => model.SystemRoleMenuName)
                        </h5>
                    </div>
                    <div class="col-sm-6" style="text-align:right;">
                        <div class="form-group" style="padding-right:10px;">
                            <button class="btn btn-white" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                            @if (Model.HasAuthorize(Model.loginUser, "SystemRoleMenu", "Add") || Model.HasAuthorize(Model.loginUser, "SystemRoleMenu", "Edit"))
                            {
                                <button class="btn ladda-button btn-primary" data-style="expand-left" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
            <div class="row">
                    @Html.HiddenFor(model => model.SystemRoleMenuId)

	                @if(!Model.IsHiddenName){
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SystemRoleMenuName)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.SystemRoleMenuName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.SystemRoleMenuName),@required=""})
		                </div>
	                </div>
	                }
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SystemMenuId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('SystemMenu','SystemMenuId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.SystemMenuId,Model.GetSelectedItems("SystemMenu", Model.SystemMenuId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SystemRoleId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('SystemRole','SystemRoleId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.SystemRoleId,Model.GetSelectedItems("SystemRole", Model.SystemRoleId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.CanSearch)<span class="span-required">*</span></label>
		                <div class="col-sm-10">
                            @Html.CheckBoxFor(model=>model.CanSearch, new { @class = "form-control i-checks" })
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.CanView)<span class="span-required">*</span></label>
		                <div class="col-sm-10">
                            @Html.CheckBoxFor(model=>model.CanView, new { @class = "form-control i-checks" })
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.CanAdd)<span class="span-required">*</span></label>
		                <div class="col-sm-10">
                            @Html.CheckBoxFor(model=>model.CanAdd, new { @class = "form-control i-checks" })
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.CanEdit)<span class="span-required">*</span></label>
		                <div class="col-sm-10">
                            @Html.CheckBoxFor(model=>model.CanEdit, new { @class = "form-control i-checks" })
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.CanDelete)<span class="span-required">*</span></label>
		                <div class="col-sm-10">
                            @Html.CheckBoxFor(model=>model.CanDelete, new { @class = "form-control i-checks" })
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.CanExport)<span class="span-required">*</span></label>
		                <div class="col-sm-10">
                            @Html.CheckBoxFor(model=>model.CanExport, new { @class = "form-control i-checks" })
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.CanImport)<span class="span-required">*</span></label>
		                <div class="col-sm-10">
                            @Html.CheckBoxFor(model=>model.CanImport, new { @class = "form-control i-checks" })
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.MenuVisible)<span class="span-required">*</span></label>
		                <div class="col-sm-10">
                            @Html.CheckBoxFor(model=>model.MenuVisible, new { @class = "form-control i-checks" })
		                </div>
	                </div>
            </div>
            <div class="ibox-footer">
                <div class="row">
                    <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedBySystemUserName)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedBySystemUserName)</label>
    	            </div>
                </div>
              </div>
        </div>
        </form>
    </div>
</div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
    }

    function _initialSubmitForm() {
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

</script>
