﻿@model Library.Winplus.syslib.standard.fileupload.model.FileUploadSetting

<div class="form-group col-sm-12">
    <div class="dropzone" id="dropzoneForm_@(Model.FieldName)" style="background-color:#F9F9F9;">
        <div class="fallback">
            <input name="UploadFile" type="file" multiple />
        </div>
    </div>
</div>
<div class="form-group col-sm-12">
    <table id="tb_@(Model.FieldName)" class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th style="width:100px;">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.LstFileUpload != null)
            {
                foreach (Library.Winplus.syslib.standard.fileupload.model.FileUpload fileUpload in Model.LstFileUpload)
                {
                    <tr id="@(Model.FieldName)_@fileUpload.FileUploadId">
                        <td><a href="@Url.Content("~/FileUpload/Download/" + fileUpload.FileUploadId)">@fileUpload.UploadFileFileName</a></td>
                        <td>
                            <a href="javascript:deleteFileUpload_@(Model.FieldName)(@fileUpload.FileUploadId);">
                                <i class="fa fa-times"> Delete</i>
                            </a>
                            <input type="hidden" name="@(Model.FieldName)" value="@fileUpload.FileUploadId" /></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    function InitialDropZone_@(Model.FieldName)() {
        var dropZone@(Model.FieldName) = new Dropzone(
              '#dropzoneForm_@(Model.FieldName)',
              {
                  url: "FileUpload/Upload",
                  paramName: "UploadFileUpload",
                  maxFilesize: 24,
                  dictDefaultMessage: "<strong>Drop files here or click to upload. </strong>",
                  init: function () {
                      this.on("complete", function (file) {
                          this.removeFile(file);
                      });
                      this.on("success", function (file, responseText) {
                          //console.log(responseText);
                          //{"FileUploadId":6,"FileUploadName":"review eng wording.docx","UploadFile":null,"UploadFileUpload":null,"UploadFileFileName":"review eng wording.docx","UploadFileContentType":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","ActiveStatusId":1,"CreatedOn":null,"CreatedOnText":"","CreatedOnTimeText":"","CreatedBy":1,"ModifiedOn":null,"ModifiedOnText":"","ModifiedOnTimeText":"","ModifiedBy":null,"ActiveStatusIdActiveStatusName":null,"CreatedBySystemUserName":null,"ModifiedBySystemUserName":null,"IsHiddenName":false}

                          var rowContent = '<tr id="@(Model.FieldName)_' + responseText.FileUploadId + '"><td><a href="@Url.Content("~/FileUpload/Download/")' + responseText.FileUploadId + '">' + responseText.FileUploadName + '</a></td><td><a href="javascript:deleteFileUpload_@(Model.FieldName)(' + responseText.FileUploadId + ');"><i class="fa fa-times"> Delete</i></a><input type="hidden" name="@(Model.FieldName)" value="' + responseText.FileUploadId + '" /></td></tr>';
                          $("#tb_@(Model.FieldName) tbody").append(rowContent);
                      });
                  }
              }
          );
    }

    function deleteFileUpload_@(Model.FieldName)(FileUploadId) {
        $("#@(Model.FieldName)_" + FileUploadId).remove();
    }
</script>