﻿@model Library.Winplus.syslib.customize.homepage.model.HomePage
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Session.SessionID);
    string AppTitle = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig("AppTitle");
    if(AppTitle==null){
        AppTitle = "WeCollect : Housing Survey Application";
    }
    
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="@Url.Content("~/Resource/img/fav.ico")">
    <title>@AppTitle</title>
    
    @Html.Partial("~/Views/_shared/_IncludeCss.cshtml",Model)
    
    @Html.Partial("~/Views/_shared/_IncludeJs.cshtml",Model)

    <style>
        .span-required
        {
            padding-left:3px;
            color:red;
        }
        .value-padding
        {
            padding-top:7px;
            padding-bottom:9px;
        }
        .hyperlink .input-group-addon:hover
        {
            cursor:pointer;
        }
    </style>
</head>

<!-- <body class="mini-navbar"> [will auto hide left menu bar]-->
<body class="">
    @Html.Partial("~/Views/customize/homepage/_include/_showimage.cshtml")
    @Html.Partial("~/Views/customize/homepage/_include/_choosedialog.cshtml",new Library.Winplus.syslib.standard.choosedialog.search.ChooseDialogSearch())
    @Html.Partial("~/Views/customize/homepage/_include/_jtreedialog.cshtml")
    @Html.Partial("~/Views/customize/homepage/_include/_changepassword.cshtml")

    <div id="wrapper">
        @Html.Partial("~/Views/_shared/_IncludeMenuLeftTop.cshtml",Model)

        <div id="page-wrapper" class="gray-bg">
            @Html.Partial("~/Views/_shared/_IncludeMenuHeader.cshtml",Model)

			<!-- Body here -->
            <div id="partialpage-form">

            </div>
        </div>
    </div>
    
  	
  	
        @if(!String.IsNullOrEmpty(Model.DefaultMenuUrl))
        {
            <script>
                function LoadDefaultMenuUrl() {
                    ajaxPartialLoad("@Url.Content(Model.DefaultMenuUrl)", "partialpage-form", ajaxLoadFormCompleted);
                }
            </script>
        }else{
            
            <script>
                function LoadDefaultMenuUrl() {
                }
            </script>
        }
    
        <script>
            /*<![CDATA[*/
            $(document).ready(function () {
                //var url = "@Url.Content("~/IncidentReport/AlertDueIR")";
                //ajaxUrlRequest(url, AlertDueIRResponse)
            });

            function AlertDueIRResponse(data) {
                //if (data.StatusCode == "0") {
                    // Notfound New record
                //} else {
                //    alert(data.Message);
               // }
            }
        </script>

    <script>

        /*<![CDATA[*/
        $(document).ready(function () {
            window.onhashchange = function () {
                if (window.location.hash === "#" || window.location.hash === "") {
                } else {
                    var url = window.location.hash;
                    url = url.substring(5, url.length);
                    //navigateTo(url);
                    ajaxPartialLoad(url, "partialpage-form", ajaxLoadFormCompleted);
                }
            }

            var url = window.location.hash;
            if (url.length > 5) {
                url = url.substring(5, url.length);
                ajaxPartialLoad(url, "partialpage-form", ajaxLoadFormCompleted);
            } else {
                LoadDefaultMenuUrl();
            }
        });

        function ajaxLoadFormCompleted(html) {
            singlePageLoad();
        }

        var navCounter = 0;
        function navigateTo(url) {
            var hash = "Page" + url + "#" + (navCounter++);
            //alert(hash);
            window.location.hash = hash;;
            //ajaxPartialLoad(url, "partialpage-form", ajaxLoadFormCompleted);
        }
        /*]]>*/
    </script>

</body>

</html>
