@model Library.Winplus.syslib.standard.userlogin.model.UserLogin

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/userlogin/save")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            @if(Model.UserLoginId.HasValue){
                                @MyResources.Winplus.Resource.Update
                            }else{
                                @MyResources.Winplus.Resource.Create
                            }
                            @Html.DisplayNameFor(model => model.UserLoginName)
                        </h5>
                    </div>
                    <div class="col-sm-6" style="text-align:right;">
                        <div class="form-group" style="padding-right:10px;">
                            <button class="btn btn-white" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                            @if (Model.HasAuthorize(Model.loginUser, "UserLogin", "Add") || Model.HasAuthorize(Model.loginUser, "UserLogin", "Edit"))
                            {
                                <button class="btn ladda-button btn-primary" data-style="expand-left" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
            <div class="row">
                    @Html.HiddenFor(model => model.UserLoginId)

	                @if(!Model.IsHiddenName){
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.UserLoginName)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.UserLoginName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.UserLoginName),@required=""})
		                </div>
	                </div>
	                }
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SystemUserId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('SystemUser','SystemUserId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.SystemUserId,Model.GetSelectedItems("SystemUser", Model.SystemUserId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.TokenId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.TokenId, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.TokenId),@required=""})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ActionDate)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                           <table>
                               <tr>
                                   <td>
                                       <div class="input-group date">
                                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                           @Html.TextBoxFor(model => model.ActionDateText, new { @class = "form-control" ,@required="" })
                                       </div>
                                   </td>
                                   <td>
                                       <div class="input-group clockpicker" data-autoclose="true" style="margin-left:5px;">
                                           <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                           @Html.TextBoxFor(model => model.ActionDateTimeText, new { @class = "form-control" ,@required="", @style="width:80px;" })
                                       </div>
                                   </td>
                               </tr>
                           </table>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ExpireDate)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                           <table>
                               <tr>
                                   <td>
                                       <div class="input-group date">
                                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                           @Html.TextBoxFor(model => model.ExpireDateText, new { @class = "form-control" ,@required="" })
                                       </div>
                                   </td>
                                   <td>
                                       <div class="input-group clockpicker" data-autoclose="true" style="margin-left:5px;">
                                           <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                           @Html.TextBoxFor(model => model.ExpireDateTimeText, new { @class = "form-control" ,@required="", @style="width:80px;" })
                                       </div>
                                   </td>
                               </tr>
                           </table>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ProjectIds)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.ProjectIds, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.ProjectIds)})
		                </div>
	                </div>
            </div>
            <div class="ibox-footer">
                <div class="row">
                    <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedBySystemUserName)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedBySystemUserName)</label>
    	            </div>
                </div>
              </div>
        </div>
        </form>
    </div>
</div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
    }

    function _initialSubmitForm() {
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

</script>
