﻿<div class="modal inmodal" id="modal-survey-addedit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1024px;">
        <div class="modal-content animated fadeIn">
            <form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/survey/save")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title" style="float:left;font-size:14px;font-weight:bold;">
                        Add/Edit Survey
                    </h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="div-survey-addedit-content">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn ladda-button btn-primary" data-style="expand-left" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    function _initialSubmitForm() {

    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            $("#modal-survey-addedit").modal("hide");
            gotoSearch('addedit');
        } else {
            alert(data.Message);
        }
    }

    function gotoEditById(projectid,id) {
        addEditSurvey(projectid,id);
    }
    
    function addEditSurvey(ProjectId,SurveyId) {
        try {
            var url = "@Url.Content("~/survey/findsurvey?id=")" + SurveyId + "&ProjectId=" + ProjectId;
            ajaxPartialLoad(url, "div-survey-addedit-content", addEditSurvey_Response)
        } catch (e) {
            alert("addEditSurvey Error->" + e);
        }
    }

    function addEditSurvey_Response(data) {
        try {
            bindingStandardField();
            $("#modal-survey-addedit").modal("show");
        } catch (e) {
            alert("addEditSurvey_Response Error->" + e);
        }
    }
</script>