﻿@model Library.Winplus.syslib.standard.survey.model.Survey

<div class="tabs-container">
    <ul class="nav nav-tabs" id="nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1"> @MyResources.Winplus.Resource.GeralInfo</a></li>
        <li class=""><a data-toggle="tab" href="#tab-2">@MyResources.Winplus.Resource.Image</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                @Html.HiddenFor(model => model.SurveyId)
                @Html.HiddenFor(model => model.SurveyName)
                @Html.HiddenFor(model => model.DeleteFlag)
                @Html.HiddenFor(model => model.ImageFront)
                @Html.HiddenFor(model => model.ImageBeside)
                @Html.HiddenFor(model => model.ImageRefer)
                @Html.HiddenFor(model => model.NewPoint)
                <div class="form-group col-sm-12">
                    <label class="col-sm-12" style="font-weight:bold;font-size:16px;color:#0F9D58;text-decoration:underline;">ประเภทข้อมูลที่สำรวจ</label>
                </div>
                <!-- ชื่ออาคาร -->
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LocationTypeId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.LocationTypeId, Model.GetSelectedItems("LocationType", Model.LocationTypeId, ""), new { @class = "form-control", @onchange = "changeLocationType()" })
                        <script>
                            function changeLocationType() {
                                var locationTypeId = $("#LocationTypeId").val();
                                $(".type_1").hide();
                                $(".type_2").hide();
                                $(".type_3").hide();
                                $(".type_4").hide();
                                $(".type_5").hide();
                                if (locationTypeId != null && locationTypeId != "") {
                                    $(".type_" + locationTypeId).show();
                                    $("#title-location").html("@(MyResources.Winplus.Resource.Data): " + $("#LocationTypeId :selected").text());
                                }
                                else {
                                    $("#title-location").html("@(MyResources.Winplus.Resource.DataNull)");
                                }
                            }
                        </script>
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label class="col-sm-12" style="font-weight:bold;font-size:16px;color:#0F9D58;text-decoration:underline;" id="title-location">???</label>
                </div>

                <!-- BL_NAME: ชื่อข้อมูลที่สำรวจ -->
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BuildingName)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.BuildingName, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.BuildingName) })
                    </div>
                </div>

                <!-- Owner: ชื่อเจ้าของ -->
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PlaceOwner)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.PlaceOwner, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.PlaceOwner) })
                    </div>
                </div>

                <!-- User: ชื่อผู้ใช้ประโยชน์ -->
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PlaceUserBenefic)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.PlaceUserBenefic, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.PlaceUserBenefic) })
                    </div>
                </div>

                <!-- BL_FRONTAGE: ขนาดกว้าง -->
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Width)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Width, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Width), @type = "number", @step = "any" })
                    </div>
                </div>

                <!-- BL_DEPTH: ขนาดยาว -->
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Long)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Long, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Long), @type = "number", @step = "any" })
                    </div>
                </div>

                <!-- BL_HEIGHT: ขนาดสูง -->
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Height)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Height, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Height), @type = "number", @step = "any" })
                    </div>
                </div>

                <!-- REMARK หมายเหตุ -->
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Remark)</label>
                    <div class="col-sm-10" style="margin-left:-5px;">
                        @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Width) })
                    </div>
                </div>

                <!-- BL_Add บ้านเลขที่ -->
                <div class="form-group col-sm-6 type_1">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.HomeNo)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.HomeNo, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.HomeNo) })
                    </div>
                </div>
                <!-- BL_Moo หมู่ที่ -->
                <div class="form-group col-sm-6 type_1">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Moo)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Moo, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Moo) })
                    </div>
                </div>
                <!-- BL_TYPE ประเภทของอาคาร -->
                <div class="form-group col-sm-6 type_1">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BuildingTypeId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.BuildingTypeId, Model.GetSelectedItems("BuildingType", Model.BuildingTypeId, ""), new { @class = "form-control", @onchange = "displayBuildingTypeOther()" })
                    </div>
                </div>
                <!-- BL_TYPE ประเภทของอาคาร -->
                <div class="form-group col-sm-6 type_1" id="div-BuildingTypeOther">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BuildingTypeOther)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.BuildingTypeOther, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.BuildingTypeOther) })
                    </div>
                </div>
                <script>
                    function displayBuildingTypeOther() {
                        var value = $("#BuildingTypeId option:selected").text();
                        if (value == "@MyResources.Winplus.Resource.Other") {
                            $("#div-BuildingTypeOther").show();
                        } else {
                            $("#div-BuildingTypeOther").hide();
                        }
                    }
                    displayBuildingTypeOther();
                </script>
                <!-- วัสดุก่อสร้าง -->
                <div class="form-group col-sm-6 type_1">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.MaterialId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.MaterialId, Model.GetSelectedItems("Material", Model.MaterialId, ""), new { @class = "form-control", @onchange = "displayMaterialOther()" })
                    </div>
                </div>
                <div class="form-group col-sm-6 type_1" id="div-MaterialOther">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.MaterialOther)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.MaterialOther, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.MaterialOther) })
                    </div>
                </div>
                <script>
                    function displayMaterialOther() {
                        var value = $("#MaterialId option:selected").text();
                        if (value == "@MyResources.Winplus.Resource.Other") {
                            $("#div-MaterialOther").show();
                        } else {
                            $("#div-MaterialOther").hide();
                        }
                    }
                    displayMaterialOther();
                </script>
                <!-- จำนวนชั้น -->
                <div class="form-group col-sm-6 type_1">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.FloorNoId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.FloorNoId, Model.GetSelectedItems("FloorNo", Model.FloorNoId, ""), new { @class = "form-control", @onchange = "displayFloorNoOther()" })
                    </div>
                </div>
                <div class="form-group col-sm-6 type_1" id="div-FloorNoOther">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.FloorNoOther)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.FloorNoOther, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.FloorNoOther) })
                    </div>
                </div>
                <script>
                    function displayFloorNoOther() {
                        var value = $("#FloorNoId option:selected").text();
                        if (value == "@MyResources.Winplus.Resource.Other") {
                            $("#div-FloorNoOther").show();
                        } else {
                            $("#div-FloorNoOther").hide();
                        }
                    }
                    displayFloorNoOther();
                </script>
                <!-- การใชประโยชน์อาคาร -->
                <div class="form-group col-sm-6 type_1">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.AdvantageId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.AdvantageId, Model.GetSelectedItems("Advantage", Model.AdvantageId, ""), new { @class = "form-control" })
                    </div>
                </div>
                <!-- กิจกรรมการใช้ประโยชน์ -->
                <div class="form-group col-sm-6 type_1">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Advantage)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Advantage, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Advantage) })
                    </div>
                </div>
                <div class="form-group col-sm-6 type_1">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.UnitNo)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.UnitNo, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.UnitNo), @type = "number" })
                    </div>
                </div>
                <div class="form-group col-sm-12 type_1">
                    <label class="col-sm-12" style="font-weight:bold;font-size:16px;color:#0F9D58;margin-top:15px;text-decoration:underline;">ขนาดและจุดอ้างอิงอาคาร</label>
                </div>
                <div class="form-group col-sm-6 type_1">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.FarFromRefer)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.FarFromRefer, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.FarFromRefer), @type = "number", @step = "any" })
                    </div>
                </div>


                <!-- BB_TYPE	ประเภทป้าย  (Drop Down list) -->
                <div class="form-group col-sm-6 type_2">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BoardTypeId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.BoardTypeId, Model.GetSelectedItems("BoardType", Model.BoardTypeId, ""), new { @class = "form-control" })
                    </div>
                </div>
                <!-- BB_LOCATION	ตำแหน่งติดตั้งป้าย  (Drop Down list) -->
                <div class="form-group col-sm-6 type_2">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BoardLocationId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.BoardLocationId, Model.GetSelectedItems("BoardLocation", Model.BoardLocationId, ""), new { @class = "form-control" })
                    </div>
                </div>
                <!-- BB_STYLE	ลักษณะป้าย  (Drop Down list) -->
                <div class="form-group col-sm-6 type_2">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BoardStyleId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.BoardStyleId, Model.GetSelectedItems("BoardStyle", Model.BoardStyleId, ""), new { @class = "form-control" })
                    </div>
                </div>
                <!-- BB_SIDE	จำนวนด้าน -->
                <div class="form-group col-sm-6 type_2">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BoardSide)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.BoardSide, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.BoardSide), @type = "number" })
                    </div>
                </div>
                <!-- BB_TEXT	ข้อความในป้าย -->
                <div class="form-group col-sm-12 type_2">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.BoardText)</label>
                    <div class="col-sm-10" style="margin-left:-5px;">
                        @Html.TextAreaFor(model => model.BoardText, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Width) })
                    </div>
                </div>

                <!-- RD_TYPE	ประเภทถนน (Drop Down list)-->
                <div class="form-group col-sm-6 type_3">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.RoadTypeId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.RoadTypeId, Model.GetSelectedItems("RoadType", Model.RoadTypeId, ""), new { @class = "form-control" })
                    </div>
                </div>
                <!-- RD_MATERIAL	ประเภทผิวถนน  (Drop Down list)-->
                <div class="form-group col-sm-6 type_3">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.RoadMaterialId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.RoadMaterialId, Model.GetSelectedItems("RoadMaterial", Model.RoadMaterialId, ""), new { @class = "form-control" })
                    </div>
                </div>
                <!-- RD_LANE	จำนวนเลน  (Drop Down list)-->
                <div class="form-group col-sm-6 type_3">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.RoadLaneId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.RoadLaneId, Model.GetSelectedItems("RoadLane", Model.RoadLaneId, ""), new { @class = "form-control" })
                    </div>
                </div>

                <!-- BD_TYPE	ประเภทสะพาน  (Drop Down list) -->
                <div class="form-group col-sm-6 type_4">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BridgeTypeId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.BridgeTypeId, Model.GetSelectedItems("BridgeType", Model.BridgeTypeId, ""), new { @class = "form-control" })
                    </div>
                </div>

                <!-- BD_MATERIAL	วัสดุก่อสร้างสะพาน  (Drop Down list) -->
                <div class="form-group col-sm-6 type_4">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BridgeMaterialId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.BridgeMaterialId, Model.GetSelectedItems("BridgeMaterial", Model.BridgeMaterialId, ""), new { @class = "form-control" })
                    </div>
                </div>

                <!--PO_TYPE	ประเภทเสาไฟฟ้า  (Drop Down list)-->
                <div class="form-group col-sm-6 type_5">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PoleTypeId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.PoleTypeId, Model.GetSelectedItems("PoleType", Model.PoleTypeId, ""), new { @class = "form-control" })
                    </div>
                </div>
                <!--PO_MATERIAL	วัสดุก่อสร้างเสาไฟฟ้า  (Drop Down list)-->
                <div class="form-group col-sm-6 type_5">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PoleMaterialId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.PoleMaterialId, Model.GetSelectedItems("PoleMaterial", Model.PoleMaterialId, ""), new { @class = "form-control" })
                    </div>
                </div>

                <!--PARCEL_NO	เลขที่โฉนด   = มีข้อมูลเริ่มต้น           -->
                <div class="form-group col-sm-6 type_6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandParcelNo)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.LandParcelNo, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.LandParcelNo) })
                    </div>
                </div>
                <!--LAND_NO	เลขที่ดิน    = มีข้อมูลเริ่มต้น                -->
                <div class="form-group col-sm-6 type_6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandNo)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.LandNo, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.LandNo) })
                    </div>
                </div>
                <!--RAI	ขนาดที่ดิน ไร่   = มีข้อมูลเริ่มต้น                 -->
                <div class="form-group col-sm-6 type_6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandRai)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.LandRai, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.LandRai),@type="number" })
                    </div>
                </div>
                <!--NGAN	ขนาดที่ดิน งาน  = มีข้อมูลเริ่มต้น             -->
                <div class="form-group col-sm-6 type_6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandNgan)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.LandNgan, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.LandNgan),@type="number" })
                    </div>
                </div>
                <!--WA	ขนาดที่ดิน วา  = มีข้อมูลเริ่มต้น                  -->
                <div class="form-group col-sm-6 type_6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandWa)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.LandWa, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.LandWa),@type="number" })
                    </div>
                </div>
                <!--SUBWA	ขนาดที่ดิน   = มีข้อมูลเริ่มต้น               -->
                <div class="form-group col-sm-6 type_6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandSubWa)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.LandSubWa, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.LandSubWa),@type="number",@step="any" })
                    </div>
                </div>
                <!--LANDUSE	การใช้ประโยชน์ที่ดิน                       -->
                <div class="form-group col-sm-12 type_6">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.LandUsed)</label>
                    <div class="col-sm-10" style="margin-left:-5px;">
                        @Html.TextAreaFor(model => model.LandUsed, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.LandUsed) })
                    </div>
                </div>
                <!--PARCEL_TYPE	ประเภทที่ดิน   (Check list)          -->
                <div class="form-group col-sm-6 type_6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LandParcelTypeIdSelected)</label>
                    <div class="col-sm-8">
                        <select name="LandParcelTypeIds" data-placeholder="Please select.." class="chosen-select-form" multiple>
                            @{
                                foreach (var item in Model.GetSelectedItems("LandParcelType", null, ""))
                                {
                                    <option value="@item.Value" @(Model.SelectedLandParcelType(item.Value) ? "selected" : "")>@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label class="col-sm-12" style="font-weight:bold;font-size:16px;color:#0F9D58;margin-top:15px;text-decoration:underline;">การแก้ไขข้อมูล</label>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.UpdateFlag)</label>
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(model => model.UpdateFlag, new { @class = "form-control i-checks" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SurveyCode)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.SurveyCode, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.SurveyCode) })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ProjectId)<span class="span-required">*</span></label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.ProjectId, Model.GetSelectedItems("Project", Model.ProjectId, ""), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.OwnerSystemUserId)</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.OwnerSystemUserId, Model.GetSelectedItems("SystemUser", Model.OwnerSystemUserId, ""), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.KeyInOn)</label>
                    <div class="col-sm-8">
                        <table>
                            <tr>
                                <td>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        @Html.TextBoxFor(model => model.KeyInOnText, new { @class = "form-control" })
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group clockpicker" data-autoclose="true" style="margin-left:5px;">
                                        <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                        @Html.TextBoxFor(model => model.KeyInOnTimeText, new { @class = "form-control", @style = "width:80px;" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <style>
                    .clockpicker-popover {
                        z-index: 999999;
                    }
                </style>

                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Latitude)<span class="span-required">*</span></label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Latitude), @type = "number", @step = "any", @required = "" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Longitude)<span class="span-required">*</span></label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control", @title = @Html.DisplayNameFor(model => model.Longitude), @type = "number", @step = "any", @required = "" })
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-2" class="tab-pane">
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            <label style="text-align:left" class="col-sm-12 control-label">@Html.DisplayNameFor(model => model.ImageFront)</label>
                            <div class="col-sm-12 div-show-image">
                                <img src="@Model.ImageFrontFullPath" style="width:400px;" />
                            </div>

                            <label style="text-align:left" class="col-sm-12 control-label">@Html.DisplayNameFor(model => model.ImageRefer)</label>
                            <div class="col-sm-12 div-show-image">
                                <img src="@Model.ImageReferFullPath" style="width:400px;" />
                            </div>
                        </td>
                        <td valign="top">
                            <label style="text-align:left" class="col-sm-12 control-label">@Html.DisplayNameFor(model => model.ImageBeside)</label>
                            <div class="col-sm-12 div-show-image">
                                <img src="@Model.ImageBesideFullPath" style="width:400px;" />
                            </div>
                        </td>
                    </tr>
                </table>
                
                <style>
                    .div-show-image{
                        border:1px solid pink;
                        background-color:aliceblue;
                    }
                </style>
            </div>
        </div>
        <script>
            changeLocationType();
            $('.chosen-select-form').chosen({ width: "100%" });
        </script>
    </div>
</div>
        