@model Library.Winplus.syslib.standard.bglogger.search.BGLoggerSearch

@Html.Partial("~/Views/standard/bglogger/import.cshtml",Model)

<div class="row" id="addedit-section">

</div>

<div class="row" id="search-section">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@MyResources.Winplus.Resource.Search @Html.DisplayNameFor(model => model.search.BGLoggerName)</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <section class="content-header">
                        <div class="box box-default color-palette-box">
                            <div class="box-body">
                                <div class="row">
                                    <form id="search-form">
                                        <!-- Advance Search -->
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div id="advance-search-form" class="collapse">
                                                        <a href="#" data-toggle="collapse" data-target="#advance-search-form">@MyResources.Winplus.Resource.AdvanceSearch</a>
                                                        <div style="height: 3px;"></div>
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BGLoggerName)</label>
                                                                    @Html.TextBoxFor(model => model.search.BGLoggerName, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LogClass)</label>
                                                                    @Html.TextBoxFor(model => model.search.LogClass, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LogMethod)</label>
                                                                    @Html.TextBoxFor(model => model.search.LogMethod, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LogLevel)</label>
                                                                    @Html.TextBoxFor(model => model.search.LogLevel, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CreatedOn)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_CreatedOn_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_CreatedOn_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CreatedBy)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SystemUser','search_CreatedBy')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.CreatedBy,Model.GetSelectedItems("SystemUser", Model.search.CreatedBy,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ModifiedOn)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_ModifiedOn_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_ModifiedOn_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ModifiedBy)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SystemUser','search_ModifiedBy')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ModifiedBy,Model.GetSelectedItems("SystemUser", Model.search.ModifiedBy,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Basic search by text -->
                                        <div class="col-sm-12">
                                        <div class="input-group">
                                            <div class="form-group">
                                                <input type="text" id="SearchText" class="form-control input-search" placeholder="@MyResources.Winplus.Resource.TextToSearch" />
                                            </div>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" aria-label="Advance Search" data-toggle="collapse" data-target="#advance-search-form">
                                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                                </button>
                                                <button type="button" onclick="javascript:gotoSearch();" class="btn btn-default" aria-label="Search">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <div style="height: 3px;"></div>
                            
                            <!-- Grid view -->
                            <section class="content" style="overflow-x:auto;">
                                <table id="tbResult" class="display nowrap hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                            <th><input type="checkbox" class="checkall" /></th>
                                            <th>@Html.DisplayNameFor(model => model.search.BGLoggerName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LogClass)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LogMethod)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LogLevel)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CreatedOn)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CreatedBy)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ModifiedOn)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ModifiedBy)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>

    <div style="display: none" class="grid-menu">
        @if (Model.HasAuthorize(Model.loginUser, "BGLogger", "Add"))
        {
            <button class="btn btn-success btn-circle" type="button" onclick="gotoAdd();" title="Add"><i class="fa fa-plus"></i></button>
            <button class="btn btn-success btn-circle" type="button" onclick="gotoCopy();" title="Copy"><i class="fa fa-copy"></i></button>
        }
        @if (Model.HasAuthorize(Model.loginUser, "BGLogger", "Edit"))
        {
            <button class="btn btn-warning btn-circle" type="button" onclick="gotoEdit();" title="Edit"><i class="fa fa-edit"></i></button>
        }
        @if (Model.HasAuthorize(Model.loginUser, "BGLogger", "Delete"))
        {
            <button class="btn btn-danger btn-circle" type="button" onclick="gotoDelete();" title="Delete"><i class="fa fa-minus"></i></button>
        }
        @if (Model.HasAuthorize(Model.loginUser, "BGLogger", "Export"))
        {
            <button class="btn btn-primary btn-circle" type="button" onclick="gotoExportExcel();" title="Export Excel"><i class="fa fa-table"></i></button>
        }
        @if (Model.HasAuthorize(Model.loginUser, "BGLogger", "Import"))
        {
            <button class="btn btn-info btn-circle" type="button" data-toggle="modal" data-target="#modal-import" title="Import Excel"><i class="fa fa-database"></i></button>
        }
    </div>

</div>



<script>

    // After menu click and ajax loading completed...
    function singlePageLoad() {
        _initTbResult();
        bindingStandardField();

        $('#search-section .input-search').unbind('keyup');
        $("#search-section .input-search").keyup(function (event) {
            if (event.keyCode == 13) {
                gotoSearch();
            }
        });
    }

    var tbResult = null;
    function _initTbResult() {
        tbResult = $('#tbResult').DataTable({
            "serverSide": true,
            "bFilter": true,
            "columnDefs": [
                { "targets": [1], "orderable": false }
            ],
            "order": [[ 0, "desc" ]],
            "ajax": {
                "url": '@Url.Content("~/bglogger/search?")'+ formParams("#search-form .input-search"),
                "type": "POST"
            },
            "columns": [
                { "name": "BGLoggerId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "", "width": "5px", "data": "BGLoggerId", "render": function (data, type, row, meta) { return FormatCheckbox(data, type, row, meta, "BGLoggerId","selectItem"); } },
                { "name": "BGLoggerName", "data": "BGLoggerName", "render": function (data, type, row, meta) { return FormatEditById(data, type, row, meta, "BGLoggerId"); } },
                { "name": "LogClass", "data": "LogClass", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "LogMethod", "data": "LogMethod", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "LogLevel", "data": "LogLevel", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "CreatedOn", "data": "CreatedOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "CreatedBy", "data": "CreatedBySystemUserName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ModifiedOn", "data": "ModifiedOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "ModifiedBy", "data": "ModifiedBySystemUserName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
            ],
            "cache": false,
            fnDrawCallback: function( settings, json ) {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                $(".checkall").iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                }).on('ifChanged', function (e) {
                    // Get the field name
                    var isChecked = e.currentTarget.checked;
                    if (isChecked) {
                        $('.chkBGLoggerId').iCheck('check');
                    } else {
                        $('.chkBGLoggerId').iCheck('uncheck');
                    }
                });
            },
            initComplete: function(settings, json) {
                $("#tbResult_filter").html($("#search-section .grid-menu").html());
            }
        });

    }

    function gotoSearch() {
        $('.checkall').iCheck('uncheck');
        _showSearch(true);
        tbResult.ajax.url("@Url.Content("~/bglogger/search?")" + formParams("#search-form .input-search")).load();
    }

    function gotoAdd() {
        _showSearch(false);
        ajaxPartialLoad("@Url.Content("~/bglogger/find/0")", "addedit-section", _gotoAdd)
    }

    // Callback after ajax completed
    function _gotoAdd(html) {
        _initialAddEditForm();

    }

    function gotoCopy() {
        var id = getCheckedOneValue("selectItem");
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/bglogger/copy/")" + id, "addedit-section", _gotoCopy)
        }
    }

    // Callback after ajax completed
    function _gotoCopy(html) {
        _initialAddEditForm();
    }

    function gotoEdit() {
        var id = getCheckedOneValue("selectItem");
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/bglogger/find/")" + id, "addedit-section", _gotoEdit)
        }
    }

    // Callback after ajax completed
    function _gotoEdit(html) {
        _initialAddEditForm();
    }

    function gotoEditById(id) {
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/bglogger/find/")" + id, "addedit-section", _gotoEditById)
        }
    }

    // Callback after ajax completed
    function _gotoEditById(html) {
        _initialAddEditForm();
    }

    function gotoDelete() {
        var ids = getCheckedMultiple("selectItem",true);
        if (ids != "") {
            if (confirm("Would you like to delete data?")) {
                ajaxUrlRequest("@Url.Content("~/bglogger/delete?ids=")" + ids, _gotoDelete);
            }
        }
    }

    // Callback after ajax completed
    function _gotoDelete(data) {
        if (data.StatusCode == "0")
        {
            gotoSearch();
        }
        else
        {
            alert(data.Message);
        }
    }

    function gotoExportExcel() {
        var ids = getCheckedMultiple("selectItem",false);
        location.href = "@Url.Content("~/bglogger/exportexcel?")ids=" + ids+"&" + formParams("#search-form .input-search");
    }


    function _showSearch(_showSearch) {
        if (_showSearch) {
            $("#search-section").show();
            $("#addedit-section").hide();
        } else {
            $("#search-section").hide();
            $("#addedit-section").show();
        }
    }

</script>
