@model Library.Winplus.syslib.standard.bridgetype.model.BridgeType

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/bridgetype/save")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            @if(Model.BridgeTypeId.HasValue){
                                @MyResources.Winplus.Resource.Update
                            }else{
                                @MyResources.Winplus.Resource.Create
                            }
                            @Html.DisplayNameFor(model => model.BridgeTypeName)
                        </h5>
                    </div>
                    <div class="col-sm-6" style="text-align:right;">
                        <div class="form-group" style="padding-right:10px;">
                            <button class="btn btn-white" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                            @if (Model.HasAuthorize(Model.loginUser, "BridgeType", "Add") || Model.HasAuthorize(Model.loginUser, "BridgeType", "Edit"))
                            {
                                <button class="btn ladda-button btn-primary" data-style="expand-left" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
            <div class="row">
                    @Html.HiddenFor(model => model.BridgeTypeId)

	                @if(!Model.IsHiddenName){
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BridgeTypeName)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.BridgeTypeName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.BridgeTypeName),@required=""})
		                </div>
	                </div>
	                }
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DisplayIndex)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.DisplayIndex, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.DisplayIndex),@type="number"})
		                </div>
	                </div>
            </div>
            <div class="ibox-footer">
                <div class="row">
                    <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.CreatedBySystemUserName)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedOn)</label>
    	            </div>
    	            <div class="form-group col-sm-6">
    		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
    		            <label class="col-sm-8 control-label" style="font-weight:normal;text-align:left">@Html.DisplayTextFor(model => model.ModifiedBySystemUserName)</label>
    	            </div>
                </div>
              </div>
        </div>
        </form>
    </div>
</div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
    }

    function _initialSubmitForm() {
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

</script>
